{{ define "main" }}
<style media="screen">
    canvas#spectrum {
        position: fixed;
        z-index: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        display: none;
    }
    #monotron {
      background-color: #212121;
      border-left: 1rem solid #eaeeef;
      border-right: 1rem solid #eaeeef;
      border-radius: 0.38196601065988556rem;
      padding: 1.61803399rem;
      font-family: "Source Sans Pro", Arial, sans-serif;
      color: #eaeeef;
      width: 40rem;
    }
</style>
<canvas id="spectrum"></canvas>
<div id="monotron">
    <div id="controls">
        <div class="panel">
            <label>
                <select id="mod">
                    <option>Standby</option>
                    <option>Pitch</option>
                    <option>Cutoff</option>
                </select>
                <br />Mod
            </label>
        </div>
        <div class="panel">
            <h2>VCO</h2>
            <div class="knobs">
                <div class="knob">
                    <input id="pitch" type="range" min="0" max="100" data-width="40" data-height="40" data-angleOffset="220" data-angleRange="280">
                    <label>Pitch</label>
                </div>
            </div>
        </div>
        <div class="panel">
            <h2>LFO</h2>
            <div class="knobs">
                <div class="knob">
                    <input id="rate" type="range" min="0" max="100" data-width="40" data-height="40" data-angleOffset="220" data-angleRange="280">
                    <label>Rate</label>
                </div>
                <div class="knob">
                    <input id="int" type="range" min="0" max="100" data-width="40" data-height="40" data-angleOffset="220" data-angleRange="280">
                    <label>Int.</label>
                </div>
            </div>
        </div>
        <div class="panel">
            <h2>VCF</h2>
            <div class="knobs">
            <div class="knob">
                <input id="cutoff" type="range" min="0" max="100" data-width="40" data-height="40" data-angleOffset="220" data-angleRange="280">
                <label>Cutoff</label>
            </div>
            <div class="knob">
                <input id="peak" type="range" min="0" max="100" data-width="40" data-height="40" data-angleOffset="220" data-angleRange="280">
                <label>Peak</label>
              </div>
            </div>
          </div>
    </div>
</div>
<script>
(function ($global) { "use strict";
function $extend(from, fields) {
	function Inherit() {} Inherit.prototype = from; var proto = new Inherit();
	for (var name in fields) proto[name] = fields[name];
	if( fields.toString !== Object.prototype.toString ) proto.toString = fields.toString;
	return proto;
}
var App = function() { };
App.__name__ = true;
App.playNote = function(code) {
	var note = om_audio_MIDI.keyCodeToNote(code);
	App.monotron.noteOn(om_audio_MIDI.noteToFrequency(57 + note));
};
App.update = function(time) {
	window.requestAnimationFrame(App.update);
};
App.handleKeyDown = function(e) {
	App.playNote(e.keyCode);
};
App.handleKeyUp = function(e) {
	App.monotron.noteOff();
};
App.handleWindowResize = function(e) {
	App.canvas.width = window.innerWidth;
	App.canvas.height = window.innerHeight;
};
App.main = function() {
	window.onload = function() {
		App.audio = new AudioContext();
		App.monotron = new om_audio_synth_Monotron(App.audio);
		App.monotron.output.connect(App.audio.destination,null,null);
		App.canvas = window.document.getElementById("spectrum");
		App.canvas.style.backgroundColor = "#ccc";
		App.canvas.width = window.innerWidth;
		App.canvas.height = window.innerHeight;
		App.ctx = App.canvas.getContext("2d",null);
		App.ctx.strokeStyle = "#fff";
		App.ctx.fillStyle = "#fff";
		var params = { rate : { param : App.monotron.lfo.frequency, min : 0.001, max : 900.0, scale : 1.1}, int : { param : App.monotron.lfoGain.gain, min : 0.5, max : 500.0}, cutoff : { param : App.monotron.vcf.frequency, min : 0.001, max : 900.0, scale : 1.03}, peak : { param : App.monotron.vcf.Q, min : 0.001, max : 1000.0, scale : 1.10}};
		var _g = 0;
		var _g1 = window.document.querySelectorAll(".knob input");
		while(_g < _g1.length) {
			var item = _g1[_g];
			++_g;
			var e = [item];
			var param = [Reflect.field(params,e[0].id)];
			if(param[0] != null) {
				e[0].onchange = (function(param1,e1) {
					return function(_) {
						var _g2 = e1[0].id;
						if(_g2 != "pitch") {
							var _ref = param1[0].scale;
							var scale = _ref != null ? _ref : 1.05;
							var ratio = Math.pow(scale,Std.parseInt(e1[0].value)) / Math.pow(scale,Std.parseInt(e1[0].max));
							var value = ratio * (param1[0].max - param1[0].min) + param1[0].min;
							param1[0].param.setValueAtTime(value,App.audio.currentTime);
						}
					};
				})(param,e);
			}
		}
		window.addEventListener("keydown",App.handleKeyDown,false);
		window.addEventListener("keyup",App.handleKeyUp,false);
		window.addEventListener("resize",App.handleWindowResize,false);
		window.requestAnimationFrame(App.update);
	};
};
var HxOverrides = function() { };
HxOverrides.__name__ = true;
HxOverrides.cca = function(s,index) {
	var x = s.charCodeAt(index);
	if(x != x) {
		return undefined;
	}
	return x;
};
Math.__name__ = true;
var Reflect = function() { };
Reflect.__name__ = true;
Reflect.field = function(o,field) {
	try {
		return o[field];
	} catch( e ) {
		var e1 = (e instanceof js__$Boot_HaxeError) ? e.val : e;
		return null;
	}
};
var Std = function() { };
Std.__name__ = true;
Std.string = function(s) {
	return js_Boot.__string_rec(s,"");
};
Std.parseInt = function(x) {
	var v = parseInt(x,10);
	if(v == 0 && (HxOverrides.cca(x,1) == 120 || HxOverrides.cca(x,1) == 88)) {
		v = parseInt(x);
	}
	if(isNaN(v)) {
		return null;
	}
	return v;
};
var StringBuf = function() {
	this.b = "";
};
StringBuf.__name__ = true;
StringBuf.prototype = {
	__class__: StringBuf
};
var js__$Boot_HaxeError = function(val) {
	Error.call(this);
	this.val = val;
	this.message = String(val);
	if(Error.captureStackTrace) {
		Error.captureStackTrace(this,js__$Boot_HaxeError);
	}
};
js__$Boot_HaxeError.__name__ = true;
js__$Boot_HaxeError.wrap = function(val) {
	if((val instanceof Error)) {
		return val;
	} else {
		return new js__$Boot_HaxeError(val);
	}
};
js__$Boot_HaxeError.__super__ = Error;
js__$Boot_HaxeError.prototype = $extend(Error.prototype,{
	__class__: js__$Boot_HaxeError
});
var js_Boot = function() { };
js_Boot.__name__ = true;
js_Boot.getClass = function(o) {
	if((o instanceof Array) && o.__enum__ == null) {
		return Array;
	} else {
		var cl = o.__class__;
		if(cl != null) {
			return cl;
		}
		var name = js_Boot.__nativeClassName(o);
		if(name != null) {
			return js_Boot.__resolveNativeClass(name);
		}
		return null;
	}
};
js_Boot.__string_rec = function(o,s) {
	if(o == null) {
		return "null";
	}
	if(s.length >= 5) {
		return "<...>";
	}
	var t = typeof(o);
	if(t == "function" && (o.__name__ || o.__ename__)) {
		t = "object";
	}
	switch(t) {
	case "function":
		return "<function>";
	case "object":
		if((o instanceof Array)) {
			if(o.__enum__) {
				if(o.length == 2) {
					return o[0];
				}
				var str = o[0] + "(";
				s += "\t";
				var _g1 = 2;
				var _g = o.length;
				while(_g1 < _g) {
					var i = _g1++;
					if(i != 2) {
						str += "," + js_Boot.__string_rec(o[i],s);
					} else {
						str += js_Boot.__string_rec(o[i],s);
					}
				}
				return str + ")";
			}
			var l = o.length;
			var i1;
			var str1 = "[";
			s += "\t";
			var _g11 = 0;
			var _g2 = l;
			while(_g11 < _g2) {
				var i2 = _g11++;
				str1 += (i2 > 0 ? "," : "") + js_Boot.__string_rec(o[i2],s);
			}
			str1 += "]";
			return str1;
		}
		var tostr;
		try {
			tostr = o.toString;
		} catch( e ) {
			var e1 = (e instanceof js__$Boot_HaxeError) ? e.val : e;
			return "???";
		}
		if(tostr != null && tostr != Object.toString && typeof(tostr) == "function") {
			var s2 = o.toString();
			if(s2 != "[object Object]") {
				return s2;
			}
		}
		var k = null;
		var str2 = "{\n";
		s += "\t";
		var hasp = o.hasOwnProperty != null;
		for( var k in o ) {
		if(hasp && !o.hasOwnProperty(k)) {
			continue;
		}
		if(k == "prototype" || k == "__class__" || k == "__super__" || k == "__interfaces__" || k == "__properties__") {
			continue;
		}
		if(str2.length != 2) {
			str2 += ", \n";
		}
		str2 += s + k + " : " + js_Boot.__string_rec(o[k],s);
		}
		s = s.substring(1);
		str2 += "\n" + s + "}";
		return str2;
	case "string":
		return o;
	default:
		return String(o);
	}
};
js_Boot.__interfLoop = function(cc,cl) {
	if(cc == null) {
		return false;
	}
	if(cc == cl) {
		return true;
	}
	var intf = cc.__interfaces__;
	if(intf != null) {
		var _g1 = 0;
		var _g = intf.length;
		while(_g1 < _g) {
			var i = _g1++;
			var i1 = intf[i];
			if(i1 == cl || js_Boot.__interfLoop(i1,cl)) {
				return true;
			}
		}
	}
	return js_Boot.__interfLoop(cc.__super__,cl);
};
js_Boot.__instanceof = function(o,cl) {
	if(cl == null) {
		return false;
	}
	switch(cl) {
	case Array:
		if((o instanceof Array)) {
			return o.__enum__ == null;
		} else {
			return false;
		}
		break;
	case Bool:
		return typeof(o) == "boolean";
	case Dynamic:
		return true;
	case Float:
		return typeof(o) == "number";
	case Int:
		if(typeof(o) == "number") {
			return ((o | 0) === o);
		} else {
			return false;
		}
		break;
	case String:
		return typeof(o) == "string";
	default:
		if(o != null) {
			if(typeof(cl) == "function") {
				if((o instanceof cl)) {
					return true;
				}
				if(js_Boot.__interfLoop(js_Boot.getClass(o),cl)) {
					return true;
				}
			} else if(typeof(cl) == "object" && js_Boot.__isNativeObj(cl)) {
				if((o instanceof cl)) {
					return true;
				}
			}
		} else {
			return false;
		}
		if(cl == Class ? o.__name__ != null : false) {
			return true;
		}
		if(cl == Enum ? o.__ename__ != null : false) {
			return true;
		}
		return o.__enum__ == cl;
	}
};
js_Boot.__nativeClassName = function(o) {
	var name = js_Boot.__toStr.call(o).slice(8,-1);
	if(name == "Object" || name == "Function" || name == "Math" || name == "JSON") {
		return null;
	}
	return name;
};
js_Boot.__isNativeObj = function(o) {
	return js_Boot.__nativeClassName(o) != null;
};
js_Boot.__resolveNativeClass = function(name) {
	return $global[name];
};
var js_html_compat_ArrayBuffer = function(a) {
	if((a instanceof Array) && a.__enum__ == null) {
		this.a = a;
		this.byteLength = a.length;
	} else {
		var len = a;
		this.a = [];
		var _g1 = 0;
		var _g = len;
		while(_g1 < _g) {
			var i = _g1++;
			this.a[i] = 0;
		}
		this.byteLength = len;
	}
};
js_html_compat_ArrayBuffer.__name__ = true;
js_html_compat_ArrayBuffer.sliceImpl = function(begin,end) {
	var u = new Uint8Array(this,begin,end == null ? null : end - begin);
	var result = new ArrayBuffer(u.byteLength);
	var resultArray = new Uint8Array(result);
	resultArray.set(u);
	return result;
};
js_html_compat_ArrayBuffer.prototype = {
	slice: function(begin,end) {
		return new js_html_compat_ArrayBuffer(this.a.slice(begin,end));
	}
	,__class__: js_html_compat_ArrayBuffer
};
var js_html_compat_Uint8Array = function() { };
js_html_compat_Uint8Array.__name__ = true;
js_html_compat_Uint8Array._new = function(arg1,offset,length) {
	var arr;
	if(typeof(arg1) == "number") {
		arr = [];
		var _g1 = 0;
		var _g = arg1;
		while(_g1 < _g) {
			var i = _g1++;
			arr[i] = 0;
		}
		arr.byteLength = arr.length;
		arr.byteOffset = 0;
		arr.buffer = new js_html_compat_ArrayBuffer(arr);
	} else if(js_Boot.__instanceof(arg1,js_html_compat_ArrayBuffer)) {
		var buffer = arg1;
		if(offset == null) {
			offset = 0;
		}
		if(length == null) {
			length = buffer.byteLength - offset;
		}
		if(offset == 0) {
			arr = buffer.a;
		} else {
			arr = buffer.a.slice(offset,offset + length);
		}
		arr.byteLength = arr.length;
		arr.byteOffset = offset;
		arr.buffer = buffer;
	} else if((arg1 instanceof Array) && arg1.__enum__ == null) {
		arr = arg1.slice();
		arr.byteLength = arr.length;
		arr.byteOffset = 0;
		arr.buffer = new js_html_compat_ArrayBuffer(arr);
	} else {
		throw new js__$Boot_HaxeError("TODO " + Std.string(arg1));
	}
	arr.subarray = js_html_compat_Uint8Array._subarray;
	arr.set = js_html_compat_Uint8Array._set;
	return arr;
};
js_html_compat_Uint8Array._set = function(arg,offset) {
	if(js_Boot.__instanceof(arg.buffer,js_html_compat_ArrayBuffer)) {
		var a = arg;
		if(arg.byteLength + offset > this.byteLength) {
			throw new js__$Boot_HaxeError("set() outside of range");
		}
		var _g1 = 0;
		var _g = arg.byteLength;
		while(_g1 < _g) {
			var i = _g1++;
			this[i + offset] = a[i];
		}
	} else if((arg instanceof Array) && arg.__enum__ == null) {
		var a1 = arg;
		if(a1.length + offset > this.byteLength) {
			throw new js__$Boot_HaxeError("set() outside of range");
		}
		var _g11 = 0;
		var _g2 = a1.length;
		while(_g11 < _g2) {
			var i1 = _g11++;
			this[i1 + offset] = a1[i1];
		}
	} else {
		throw new js__$Boot_HaxeError("TODO");
	}
};
js_html_compat_Uint8Array._subarray = function(start,end) {
	var a = js_html_compat_Uint8Array._new(this.slice(start,end));
	a.byteOffset = start;
	return a;
};
var om_Math = function() { };
om_Math.__name__ = true;
om_Math.get_NaN = function() {
	return NaN;
};
om_Math.get_POSITIVE_INFINITY = function() {
	return Infinity;
};
om_Math.get_NEGATIVE_INFINITY = function() {
	return -Infinity;
};
om_Math.abs = function(f) {
	if(f < 0) {
		return -f;
	} else {
		return f;
	}
};
om_Math.angleDifference = function(a,b,turn) {
	if(turn == null) {
		turn = 360.0;
	}
	var r = (b - a) % turn;
	if(r < 0) {
		r += turn;
	}
	if(r > turn / 2) {
		r -= turn;
	}
	return r;
};
om_Math.acos = function(f) {
	return Math.acos(f);
};
om_Math.asin = function(f) {
	return Math.asin(f);
};
om_Math.atan = function(f) {
	return Math.atan(f);
};
om_Math.atan2 = function(y,x) {
	return Math.atan2(y,x);
};
om_Math.ceil = function(f) {
	return Math.ceil(f);
};
om_Math.clamp = function(value,minOrMax1,minOrMax2) {
	var min = minOrMax1 > minOrMax2 ? minOrMax2 : minOrMax1;
	var max = minOrMax1 < minOrMax2 ? minOrMax2 : minOrMax1;
	if(value < min) {
		return min;
	} else if(value > max) {
		return max;
	} else {
		return value;
	}
};
om_Math.cos = function(f) {
	return Math.cos(f);
};
om_Math.countDigits = function(x) {
	return (x == 0 ? 1 : Math.log(x) / Math.log(10) + 1) | 0;
};
om_Math.degToRad = function(f) {
	return f * 3.141592653589793 / 180;
};
om_Math.exp = function(f) {
	return Math.exp(f);
};
om_Math.fceil = function(f) {
	return Math.ceil(f);
};
om_Math.fround = function(f) {
	return Math.round(f);
};
om_Math.ffloor = function(f) {
	return Math.floor(f);
};
om_Math.floor = function(f) {
	return Math.floor(f);
};
om_Math.fmt = function(v) {
	var neg;
	if(v < 0) {
		neg = -1.0;
		v = -v;
	} else {
		neg = 1.0;
	}
	if(isNaN(v) || !isFinite(v)) {
		return v;
	}
	var digits = 4 - Math.log(v) / Math.log(10) | 0;
	if(digits < 1) {
		digits = 1;
	} else if(digits >= 10) {
		return 0.;
	}
	var exp = Math.pow(10,digits);
	return Math.floor(v * exp + .49999) * neg / exp;
};
om_Math.interpolate = function(f,a,b) {
	return (b - a) * f + a;
};
om_Math.interpolateAngle = function(f,a,b,turn) {
	if(turn == null) {
		turn = 360;
	}
	return om_Math.wrapCircular((a + om_Math.angleDifference(a,b,turn) - a) * f + a,turn);
};
om_Math.invSqrt = function(f) {
	return 1.0 / Math.sqrt(f);
};
om_Math.isFinite = function(v) {
	return isFinite(v);
};
om_Math.isNaN = function(v) {
	return isNaN(v);
};
om_Math.log = function(v) {
	return Math.log(v);
};
om_Math.log10 = function(v) {
	return Math.log(v) / 2.302585092994046;
};
om_Math.max = function(a,b) {
	if(a < b) {
		return b;
	} else {
		return a;
	}
};
om_Math.min = function(a,b) {
	if(a > b) {
		return b;
	} else {
		return a;
	}
};
om_Math.nearEquals = function(a,b,tollerance) {
	if(tollerance == null) {
		tollerance = 1e-10;
	}
	if(isFinite(a)) {
		var f = a - b;
		return (f < 0 ? -f : f) <= tollerance;
	}
	if(isNaN(a)) {
		return isNaN(b);
	}
	if(isNaN(b)) {
		return false;
	}
	if(!isFinite(b)) {
		return a > 0 == b > 0;
	}
	return false;
};
om_Math.nearZero = function(v,tollerance) {
	if(tollerance == null) {
		tollerance = 1e-10;
	}
	return (v < 0 ? -v : v) <= tollerance;
};
om_Math.normalize = function(v) {
	return om_Math.clamp(v,0,1);
};
om_Math.pow = function(v,p) {
	return Math.pow(v,p);
};
om_Math.radToDeg = function(f) {
	return f * 180 / 3.141592653589793;
};
om_Math.random = function(max) {
	if(max == null) {
		max = 1.0;
	}
	return Math.random() * max;
};
om_Math.round = function(f) {
	return Math.round(f);
};
om_Math.roundTo = function(f,precision) {
	var p = Math.pow(10,precision);
	return Math.round(f * p) / p;
};
om_Math.sin = function(f) {
	return Math.sin(f);
};
om_Math.sqrt = function(f) {
	return Math.sqrt(f);
};
om_Math.tan = function(f) {
	return Math.tan(f);
};
om_Math.wrapCircular = function(v,max) {
	v %= max;
	if(v < 0) {
		v += max;
	}
	return v;
};
var om_audio_MIDI = function() { };
om_audio_MIDI.__name__ = true;
om_audio_MIDI.keyCodeToNote = function(code) {
	var note = "1234567890qwertyuiopasdfghjklzxcvbnm".indexOf(String.fromCharCode(code).toLowerCase()) % 18;
	if(note < 0) {
		note = code % 18;
	}
	return note;
};
om_audio_MIDI.noteToFrequency = function(note,tune) {
	if(tune == null) {
		tune = 440;
	}
	if(note >= 0 && note < 128) {
		return Math.pow(2,(note - 69) / 12) * tune;
	} else {
		return null;
	}
};
var om_audio_synth_Monotron = function(context) {
	this.context = context;
	this.vco = context.createOscillator();
	this.lfo = context.createOscillator();
	this.lfoGain = context.createGain();
	this.vcf = context.createBiquadFilter();
	this.output = context.createGain();
	this.output.gain.value = 0;
	this.vco.connect(this.vcf);
	this.lfo.connect(this.lfoGain);
	this.lfoGain.connect(this.vcf.frequency);
	this.vcf.connect(this.output);
	this.vco.type = "sawtooth";
	this.lfo.type = "sawtooth";
	this.vco.start(context.currentTime);
	this.lfo.start(context.currentTime);
};
om_audio_synth_Monotron.__name__ = true;
om_audio_synth_Monotron.prototype = {
	connect: function(destination,output,input) {
		return this.output.connect(destination,output,input);
	}
	,noteOn: function(frequency,time) {
		if(time == null) {
			time = this.context.currentTime;
		}
		this.vco.frequency.setValueAtTime(frequency,time);
		this.output.gain.linearRampToValueAtTime(1.0,time + 0.1);
	}
	,noteOff: function(time) {
		if(time == null) {
			time = this.context.currentTime;
		}
		this.output.gain.linearRampToValueAtTime(0.0,time + 0.1);
	}
	,__class__: om_audio_synth_Monotron
};
String.prototype.__class__ = String;
String.__name__ = true;
Array.__name__ = true;
var Int = { };
var Dynamic = { };
var Float = Number;
var Bool = Boolean;
var Class = { };
var Enum = { };
var ArrayBuffer = $global.ArrayBuffer || js_html_compat_ArrayBuffer;
if(ArrayBuffer.prototype.slice == null) {
	ArrayBuffer.prototype.slice = js_html_compat_ArrayBuffer.sliceImpl;
}
var Uint8Array = $global.Uint8Array || js_html_compat_Uint8Array._new;
App.FFT_SIZE = 512;
App.SMOOTHING = 0.8;
App.dirtySpectrum = false;
js_Boot.__toStr = ({ }).toString;
js_html_compat_Uint8Array.BYTES_PER_ELEMENT = 1;
om_Math.INT16_MIN = -32768;
om_Math.INT16_MAX = 32767;
om_Math.INT32_MIN = -2147483648;
om_Math.INT32_MAX = 2147483647;
om_Math.E = 2.718281828459045;
om_Math.EPSILON = 1e-10;
om_Math.EULER = 0.5772156649015329;
om_Math.GOLDEN_RATIO = 1.6180339887498948482;
om_Math.LN2 = 0.6931471805599453;
om_Math.LN10 = 2.302585092994046;
om_Math.LOG2E = 1.4426950408889634;
om_Math.LOG10E = 0.4342944819032518;
om_Math.PI = 3.141592653589793;
om_Math.PI2 = 6.283185307179586477;
om_Math.HALF_PI = 1.570796326794896619;
om_Math.TAU = 6.283185307179586;
om_Math.PHI = 1.618033988749895;
om_Math.SQRT1_2 = 0.7071067811865476;
om_Math.SQRT2 = 1.4142135623730951;
App.main();
})(typeof window != "undefined" ? window : typeof global != "undefined" ? global : typeof self != "undefined" ? self : this);

//# sourceMappingURL=app.js.map
</script>
{{ end }}
