<div class="meta">
	<i class="ic-copyright" aria-hidden="true"></i>
	<span class="nodisplay">©</span>
	<a href="{{ "about/" | relURL }}">
		<span>{{ now.Format "2006" }}&nbsp;VELAK Vienna/AT</span>
	</a>
	<a href="{{ "program/index.xml" | relURL }}" rel="alternate" aria-label="RSS" title="RSS">
		<i class="ic-rss_feed" aria-hidden="true"></i>
		<span class="nodisplay">RSS</span>
	</a>
	<a href="{{ .Site.Params.developer.url }}" class="nodisplay" aria-hidden="true">{{ .Site.Params.developer.name }}</a>
</div>
