art/
etc/
misc/
node_modules/
public/
resources/
scripts/
server/
tmp/
uploads/
_income/
_old/
nginx.conf
.hugo_build.lock
CREDS.md
ISSUES.md
static/style.css*
*.flac
*.mp3
*.mp4
*.ogg
*.wav
*.zip
_*.*[0-9]
_*.[0-9].*
hugo_stats.json
#content/program/*/*.JPG
#content/program/*/*.jpg
#content/program/*/*.jpeg
#content/program/*/*.png

