{{ define "main" }}
{{ $name := lower .Name }}
{{ $id := replace $name "-" " " }}
<script src="{{ (resources.Get "/script/artists-list.js").Permalink }}" async></script>
<article class="content artist">

    <h1 class="title">{{- .Title -}}</h1>
   
    <div class="details meta">
        {{ partial "meta/email" .Params.email }}
        {{ range .Params.links }}
            {{ partial "meta/link" . }}
        {{ end }}
    </div>

    <div class="content">{{- .Content -}}</div>
    
    <!-- EVENTS -->
    {{ $events_solo := slice }}
    {{ $events_collab := slice }}
    {{ $events_all := where .Site.RegularPages "Type" "program" }}
    {{ range $event := $events_all }}
        {{ with .Params.artists }}
            {{ range . }}
                {{ if eq (trim (lower .) " ") $name }}
                    {{ $events_solo = $events_solo | append $event }}
                {{ end }}
            {{ end }}
        {{ end }}
        {{ with .Params.collabs }}
            {{ range . }}
                {{ $artists := split . "+" }}
                {{ range $artists }}
                    {{ if eq (trim (lower .) " ") $name }}
                        {{ $events_collab = $events_collab | append $event }}
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
    {{ $events := sort ($events_solo | append $events_collab | uniq) "Date" "desc" }}
    {{ .Scratch.Set "events" $events }}
    {{ partial "list/program" . }}
    <!-- {{ .Scratch.Set "events" $events_solo }} -->
    <!-- {{ partial "list/program" . }} -->
    
    <!-- RECORDS -->
    {{ $records := slice }}
    {{ range where .Site.RegularPages "Section" "records" }}
        {{ if in .Params.artists $id }}
            {{ $records = $records | append . }}
        {{ end }}
    {{ end }}
    {{ .Scratch.Set "records" $records }}
    {{ partial "list/records" . }}

    <!-- GALLERY -->
    {{ partial "gallery" . }}

</article>

{{ end }}

