{{ define "main" }}
{{ $name := lower .Name }}
{{ $id := replace $name "-" " " }}
<article class="content artist">

    <h1 class="title">{{- .Title -}}</h1>
   
    <div class="details meta">
        {{ partial "meta/email" .Params.email }}
        {{ range .Params.links }}
            {{ partial "meta/link" . }}
        {{ end }}
    </div>
    
    {{ with .Content }}<div class="content">{{- . -}}</div>{{ end }}
    
    {{ $events_solo := where .RegularPagesRecursive.ByDate.Reverse "Section" "program" }}

    {{ $events_collab := slice }}
    {{ range $event := where .Site.RegularPages "Section" "program" }}
        {{ with .Params.collabs }}
            {{ range . }}
                    {{ $artists := split . "+" }}
                    {{ range $artists }}
                        {{ if eq (trim (lower .) " ") $name }}
                            {{ $events_collab = $events_collab | append $event }}
                        {{ end }}
                    {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
    
    {{ $events := $events_solo | append $events_collab | uniq }}
    {{ .Scratch.Set "events" $events }}
    {{ partial "list/program" . }}
    
    {{ $records := slice }}
    {{ range where .Site.RegularPages "Section" "records" }}
        {{ if in .Params.artists $id }}
            {{ $records = $records | append . }}
        {{ end }}
    {{ end }}
    {{ .Scratch.Set "records" $records }}
    {{ partial "list/records" . }}

    {{ partial "gallery" . }}

 </article>
{{ end }}

