{{ $show_address := .Scratch.Get "show_address" | default true }}
<div class="meta location">
    <i class="ic-location_on"></i>
    {{ with .Params.location }}
        {{ with $loc := index $.Site.Data.locations . }}
            {{ with $loc.url }}
            <a href="{{- $loc.url -}}" rel="external">{{- $loc.name -}}</a>
            {{ else }}
            <span>{{- $loc.name -}}</span>
            {{ end }}
            
            {{ if $show_address }}
                {{ with .address }}
                <span>, </span><address>{{- . | safeHTML -}}</address>
                {{ end }}
            {{ end }}

        {{ else }}
        <span>{{- . | markdownify -}}</span>
        {{ end }}
    {{ else }}
    <span>TBA</span>
    {{ end }}
</div>

