{{ with . }}
<ul class="tags nolist">
    {{ range . }}
    <li class="tag">
        <a href="{{ "tags/" | relURL }}{{ . | urlize }}" rel="tag" class="meta" tabindex="-1">
            <i class="ic-tag"></i><span>{{- . -}}</span>
        </a>
    </li>
    {{ end }}
</ul>
<!-- <dl class="tags">
    <dt class="visuallyhidden">Tags</dt>
    {{ range . }}
    <dd class="tag">
        <a href="{{ "tags/" | relURL }}{{ . | urlize }}" rel="tag" tabindex="-1">
            <i class="ic-tag"></i>
            <span>{{ . | safeHTML }}</span>
        </a>
    </dd>
    {{ end }}
</dl> -->
{{ end }}
