main[data-section="artists"] {
	// list
	&[data-kind="section"] {
		> article {
			> ul.artists {
				column-width: 240px;
				font-size: 1.25rem;
			}
		}
	}

	.link {
		display: inline-flex;
		align-items: center;
	}

	.link svg.ic-external-link {
		width: 0.85em;
		height: 0.85em;
		margin-right: 0.75ch;
		fill: currentColor;
		flex-shrink: 0;
	}
}
