article.artist {
    > .content {
        order: 3;
    }
    > .program {
        order: 3;
    }
    > .records {
        order: 4
    }
    > .gallery {
        order: 6;
    }
    nav.prev_next {
        justify-self: flex-end;
    }
}

