@use '../typography';

article.home {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	gap: 0;
	width: 100%;
	height: 100%;

	.events {
		overflow-x: hidden;
	}

	.upcoming-label {
		@include typography.meta(75%);
	}

	ol.events {
		margin-bottom: 2rem;
	}

	.fq {
		height: 100%;
	}
}
