@use '../breakpoint';
@use '../print';
@use '../typography';

@keyframes users_scroll {
    0% {
        transform: translateX(0%);
    }
    //50% {
        //transform: translateX(-50%);
    //}
    100% {
        transform: translateX(-50%);
    }
}

ul.artists {
    text-transform: lowercase;
    &, ul, li { 
        list-style: none;
    }
    li {
        line-height: 1em;
    }
    > li {
        display: flex;
        margin-bottom: 1rem;
        > span.group {
           margin-right: 0.5ch; 
        }
        > ul.collab {
            display: flex;
            //flex-wrap: wrap;
            > li {
                display: flex;
                white-space: nowrap;
                &:not(:last-child) {
                    &::after {
                        content: "+";
                        margin: 0 0.25ch;
                    }
                }
            }
        }
    }
}

//div.meta {}

// article.program {
    /*
    > ol.upcoming {
        list-style: none;
        margin-bottom: 1rem;
        > li {
            padding: 1rem 0; 
            ul.artists {
                display: flex;
                list-style: none;
                white-space: nowrap;
                text-transform: lowercase;
                //z-index: 10;
                > li {
                    color: var(--f_low);
                    &:not(:last-child):after {
                        content: ",";
                        margin-right: 0.5ch;
                    }
                } 
            }
        }
    }
    */
//> ol.program {
/*
> ol.events {
    width: 100%;
    overflow: hidden;
    max-width: breakpoint.$laptop;
    .date, .location {
        @include typography.meta(75%);
        color: var(--f_low);
    }
    > li {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        //justify-content: space-between;
        white-space: nowrap;
        //background: red;
        //border-bottom: 1px solid white;
        > time.data, a.title {
            z-index: 10000;
        }
        > .title {
            order: 2;
            padding: 0 0.375ch;
            //font-size: 1.25rem;
            font-weight: 500;
            text-transform: uppercase;
            white-space: nowrap;
            //background: var(--f_med);
            //color: var(--f_med);
            z-index: 1000;
            //box-shadow: 10px 0 10px rgba(9,9,9,1.0);
            background: blue;
            background: var(--background);
        }
        > .date {
            display: flex;
            order: 1;
            padding: 0 0.2rem;
            //padding: 0 0.25ch 0 0;
            //overflow: hidden;
            //text-overflow: ellipsis;
            //width: 100%;
            background: yellow;
            background: var(--background);
            background: var(--b_med);
            z-index: 1000;
        }
        > .location {
            order: 4;
            display: flex;
            padding: 0 0.15rem;
            white-space: nowrap;
            //overflow: hidden;;
            //text-overflow: hidden;
            //justify-self: end;
            //background: var(--b_low);
            //background: var(--background);
            //box-shadow: -10px 0 10px rgba(9,9,9,1.0);
            background: darkblue;
            background: var(--b_med);
            &, a {
                color: var(--f_low);
            }
            z-index: 1000;
            //&::before {
                //content: "";
                //position: absolute;
                //height: 1.5em;
                //width: 2rem; //rem;
                //z-index: 100;
                //background: linear-gradient(90deg, rgba(9,9,9,0.8), rgba(9,9,9,0.0));
                //width: 5vw; //rem;
                //left: 0;
            //}
        }
        > .artists {
            order: 3;
            flex-grow: 100;
            display: flex;
            width: 100%;
            height: 100%;
            overflow: scroll;
            white-space: nowrap;
            font-size: 93%;
            //padding: 0 0.25rem;
            //position: absolute;
            z-index: 1;
            //background: green;
            //&::before, &::after {
                //content: '';
                //position: relative;
                //background: red;
                //width: 1rem;
                //height: 1rem;
                //z-index: 10000;
            //}
            //&::before {
                //background: linear-gradient(90deg, rgba(9,9,9,1.0), rgba(9,9,9,0.0));
                //width: 10rem; //5vw; //rem;
                //left: 0;
            //}
            //&::after {
                //right: 0;
                //width: 100%;
                //background: blue;
                //background: linear-gradient(-90deg, rgba(9,9,9,1.0), rgba(9,9,9,0.0));
                //width: 300px;
            //}

            ul, li {
                display: flex;
                flex-wrap: nowrap;
                white-space: nowrap;
                margin: 0;
                padding: 0;
                list-style: none;
            }
            > ul.artists {
                display: inline-flex;
                //width: 100%;
                white-space: nowrap;
                margin: 0;
                padding: 0;
                //overflow: hidden;
                //text-overflow: ellipsis;
                //position: relative;
                //box-shadow: 4px 0 10px rgba(255,9,9,1.0) inset;
                //&::before, &::after {
                    //content: "";
                    //position: absolute;
                    //height: 1.5em;
                    //width: 2rem; //rem;
                    //z-index: 1000;
                    ////filter: blur(20px);
                //}
                //&::before {
                    //background: linear-gradient(90deg, rgba(9,9,9,0.8), rgba(9,9,9,0.0));
                    //width: 5vw; //rem;
                //}
                //&::after {
                    //background: linear-gradient(-90deg, rgba(9,9,9,0.8), rgba(9,9,9,0.0));
                    //width: 5vw; //rem;
                    //right: 0;
                //}

                > li {
                    display: flex;
                    //font-style: italic;
                    //background: var(--b_med);
                    //background: red;
                    margin: 0 0.125ch;
                    &, a {
                        color: var(--f_low);
                    }
                    &:not(:last-child)::after {
                        content: ',';
                        margin-right: 0.5ch;
                    }
                }
            }

        }
    }
}
*/

/*
> ol.events2 {
    width: 100%;
    overflow: hidden;
    max-width: breakpoint.$laptop;
    .date, .location {
        @include typography.meta(75%);
        color: var(--f_low);
    }
    > li {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        //justify-content: space-between;
        white-space: nowrap;
        //background: red;
        //border-bottom: 1px solid white;
        > time.data, a.title {
            z-index: 10000;
        }
        > .title {
            order: 2;
            padding: 0 0.375ch;
            //font-size: 1.25rem;
            font-weight: 500;
            text-transform: uppercase;
            white-space: nowrap;
            //background: var(--f_med);
            //color: var(--f_med);
            z-index: 1000;
            //box-shadow: 10px 0 10px rgba(9,9,9,1.0);
            background: blue;
            background: var(--background);
        }
        > .date {
            display: flex;
            order: 1;
            padding: 0 0.2rem;
            //padding: 0 0.25ch 0 0;
            //overflow: hidden;
            //text-overflow: ellipsis;
            //width: 100%;
            background: yellow;
            background: var(--background);
            background: var(--b_med);
            z-index: 1000;
        }
        > .location {
            order: 4;
            display: flex;
            padding: 0 0.15rem;
            white-space: nowrap;
            //overflow: hidden;;
            //text-overflow: hidden;
            //justify-self: end;
            //background: var(--b_low);
            //background: var(--background);
            //box-shadow: -10px 0 10px rgba(9,9,9,1.0);
            background: darkblue;
            background: var(--b_med);
            &, a {
                color: var(--f_low);
            }
            z-index: 1000;
            //&::before {
                //content: "";
                //position: absolute;
                //height: 1.5em;
                //width: 2rem; //rem;
                //z-index: 100;
                //background: linear-gradient(90deg, rgba(9,9,9,0.8), rgba(9,9,9,0.0));
                //width: 5vw; //rem;
                //left: 0;
            //}
        }
        > .artists {
            order: 3;
            flex-grow: 100;
            display: flex;
            width: 100%;
            height: 100%;
            overflow: scroll;
            white-space: nowrap;
            font-size: 93%;
            //padding: 0 0.25rem;
            //position: absolute;
            z-index: 1;
            pointer-events: none;
            user-select: none;
            //background: green;
            //&::before, &::after {
                //content: '';
                //position: relative;
                //background: red;
                //width: 1rem;
                //height: 1rem;
                //z-index: 10000;
            //}
            //&::before {
                //background: linear-gradient(90deg, rgba(9,9,9,1.0), rgba(9,9,9,0.0));
                //width: 10rem; //5vw; //rem;
                //left: 0;
            //}
            //&::after {
                //right: 0;
                //width: 100%;
                //background: blue;
                //background: linear-gradient(-90deg, rgba(9,9,9,1.0), rgba(9,9,9,0.0));
                //width: 300px;
            //}

            ul, li {
                display: flex;
                flex-wrap: nowrap;
                white-space: nowrap;
                margin: 0;
                padding: 0;
                list-style: none;
            }
            > ul.artists {
                display: inline-flex;
                //width: 100%;
                white-space: nowrap;
                margin: 0;
                padding: 0;
                //animation: users_scroll  infinite both;
                //animation-name: users_scroll;
                //animation-iteration-count: infinite;
                //animation-timing-function: linear;
                //animation-duration: 10s;
                //animation-fill-mode: forwards;
                //animation: users_scroll 10s infinite;
                //overflow: hidden;
                //text-overflow: ellipsis;
                //position: relative;
                //box-shadow: 4px 0 10px rgba(255,9,9,1.0) inset;
                //&::before, &::after {
                    //content: "";
                    //position: absolute;
                    //height: 1.5em;
                    //width: 2rem; //rem;
                    //z-index: 1000;
                    ////filter: blur(20px);
                //}
                //&::before {
                    //background: linear-gradient(90deg, rgba(9,9,9,0.8), rgba(9,9,9,0.0));
                    //width: 5vw; //rem;
                //}
                //&::after {
                    //background: linear-gradient(-90deg, rgba(9,9,9,0.8), rgba(9,9,9,0.0));
                    //width: 5vw; //rem;
                    //right: 0;
                //}

                > li {
                    display: flex;
                    //font-style: italic;
                    //background: var(--b_med);
                    //background: red;
                    margin: 0 0.125ch;
                    &, a {
                        color: var(--f_low);
                    }
                    &:not(:last-child)::after {
                        content: ',';
                        margin-right: 0.5ch;
                    }
                }
            }
        }
    }
}
*/

//> ol.events3 {
ol.program {
    width: 100%;
    overflow: hidden;
    max-width: breakpoint.$laptop;
    > li.event {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        //justify-content: space-between;
        white-space: nowrap;
        border-bottom: 1px solid var(--background);
        > .title, > .date, > .location {
            z-index: 10000;
        }
        > .date, > .location {
            display: flex;
            gap: 0.5ch;
            padding: 0.5ch 1ch;
            height: 100%;
            @include typography.meta(98%);
            text-transform: uppercase;
            color: var(--f_low);
        }
        > .title {
            order: 2;
            padding: 0 0.5ch;
            font-size: 1.25rem;
            font-weight: 600;
            text-transform: uppercase;
            white-space: nowrap;
            background: var(--background);
        }
        > .date {
            display: flex;
            order: 1;
            // padding: 0 0.5rem;
            //padding: 0 0.25ch 0 0;
            //overflow: hidden;
            //text-overflow: ellipsis;
            //width: 100%;
            background: var(--b_med);
        }
        > .location {
            order: 3;
            display: flex;
            // padding: 0 0.15rem;
            white-space: nowrap;
            //overflow: hidden;;
            //text-overflow: hidden;
            //justify-self: end;
            //background: var(--b_low);
            //background: var(--background);
            //box-shadow: -10px 0 10px rgba(9,9,9,1.0);
            background: darkblue;
            background: var(--b_med);
            &, a {
                color: var(--f_low);
            }
            z-index: 1000;
            //&::before {
                //content: "";
                //position: absolute;
                //height: 1.5em;
                //width: 2rem; //rem;
                //z-index: 100;
                //background: linear-gradient(90deg, rgba(9,9,9,0.8), rgba(9,9,9,0.0));
                //width: 5vw; //rem;
                //left: 0;
            //}
        }
        > .artists {
            order: 4;
            display: flex;
            width: 100%;
            color: var(--f_low);
            > ul.artists {
                display: inline-flex;
                white-space: nowrap;
                //list-style: none;
                > li {
                    display: flex;
                    flex-wrap: nowrap;
                    white-space: nowrap;
                    margin: 0 0.125ch;
                    &::after {
                        content: ',';
                        margin-right: 0.5ch;
                    }

                }
            }
        }
        /*
        > .artists {
            order: 3;
            flex-grow: 100;
            display: flex;
            width: 100%;
            height: 100%;
            overflow: scroll;
            white-space: nowrap;
            font-size: 93%;
            //padding: 0 0.25rem;
            //position: absolute;
            z-index: 1;
            //pointer-events: none;
            user-select: none;
            //background: green;
            //&::before, &::after {
                //content: '';
                //position: relative;
                //background: red;
                //width: 1rem;
                //height: 1rem;
                //z-index: 10000;
            //}
            //&::before {
                //background: linear-gradient(90deg, rgba(9,9,9,1.0), rgba(9,9,9,0.0));
                //width: 10rem; //5vw; //rem;
                //left: 0;
            //}
            //&::after {
                //right: 0;
                //width: 100%;
                //background: blue;
                //background: linear-gradient(-90deg, rgba(9,9,9,1.0), rgba(9,9,9,0.0));
                //width: 300px;
            //}

            ul, li {
                display: flex;
                flex-wrap: nowrap;
                white-space: nowrap;
                margin: 0;
                padding: 0;
                list-style: none;
            }
            > ul.artists {
                display: inline-flex;
                //width: 100%;
                white-space: nowrap;
                margin: 0;
                padding: 0;
                //animation: users_scroll  infinite both;
                //animation-name: users_scroll;
                //animation-iteration-count: infinite;
                //animation-timing-function: linear;
                //animation-duration: 10s;
                //animation-fill-mode: forwards;
                //animation: users_scroll 10s infinite;
                //overflow: hidden;
                //text-overflow: ellipsis;
                //position: relative;
                //box-shadow: 4px 0 10px rgba(255,9,9,1.0) inset;
                //&::before, &::after {
                    //content: "";
                    //position: absolute;
                    //height: 1.5em;
                    //width: 2rem; //rem;
                    //z-index: 1000;
                    ////filter: blur(20px);
                //}
                //&::before {
                    //background: linear-gradient(90deg, rgba(9,9,9,0.8), rgba(9,9,9,0.0));
                    //width: 5vw; //rem;
                //}
                //&::after {
                    //background: linear-gradient(-90deg, rgba(9,9,9,0.8), rgba(9,9,9,0.0));
                    //width: 5vw; //rem;
                    //right: 0;
                //}

                > li {
                    display: flex;
                    //font-style: italic;
                    //background: var(--b_med);
                    //background: red;
                    margin: 0 0.125ch;
                    &, a {
                        color: var(--f_low);
                    }
                    &:not(:last-child)::after {
                        content: ',';
                        margin-right: 0.5ch;
                    }
                }
            }
        }
        */
    }
}

article.event {
    > .details {
        order: 2;
        align-items: baseline;
        //padding: 1rem 0;
        > * {
            display: flex;
            i {
                // margin-right: 0.25ch;
            }
            &:not(:last-child) {
                //margin-right: 1ch;
            }
        }
        .date {
            //display: inline-flex;
            //flex-wrap: wrap;
            //flex-direction: row;
        }
        .location {
            //display: inline-flex;
        }
    }
    > .artists {
        order: 3;
    }
    > .content {
        order: 4;
    }
    > *.audiofiles {
        order: 5;
    }
    > .gallery {
        order: 6;
    }
    nav.prev_next {
        justify-self: flex-end;
    }
}

