article.stream {
    display: grid;
    place-items: center;
    padding: 4rem;
    canvas.spectrum {
        //position: absolute;
         //z-index: 100;
        background: var(--f_low);
        border-radius: 100%;
        &.hidden {
            cursor: default;
            pointer-events: none;
            display: none;
        }
    }
}
