{{ $cur_page := . }}
<ul class="artists">
    {{ with .Params.artists }}
    {{ range . }}
    {{ $id := lower (replace . " " "-" ) }}
    {{ $path := print "/artists/" $id  }} 
    {{ $page := $.Site.GetPage $path }}
    <li>
        {{ $id := replace . " " "-" }}
        {{ $path := print "/artists/" $id }}
        {{ $page := $.Site.GetPage $path }}
        <a href="{{ $page.RelPermalink }}">{{ . }}</a>
    </li>
    {{ end }}
    {{ end }}
    
    {{ with .Params.collabs }}
    {{ range . }}
    {{ $artists := split . "+" }}
    <li>
        {{ $artists := split . "+" }}
        <ul class="collab">
            {{ range $artists }}
            {{ $artist := trim . " " }}
            {{ $id := lower (replace $artist " " "-") }}
            {{ $path := print "/artists/" $id }}
            {{ $page := $.Site.GetPage $path }}
            <li>
                {{ with $page }}
                    <a href="{{ .RelPermalink }}">{{ $artist }}</a>
                {{ else }}
                    <a href="{{ $path }}">{{ $artist }}</a>
                {{ end }}
            </li>
            {{ end }}
        </ul>
    </li>
    {{ end }}
    {{ end }}
</ul>
