{{ $events := .Scratch.Get "events" }}
{{ $show_artists := .Scratch.Get "show_artists" | default true }}

{{ if eq $events nil }}
    {{ $events = where .RegularPagesRecursive.ByDate.Reverse "Section" "program" }}
{{ end }}

<ol class="data-list program" reversed>
    {{ range $events }}
    <li class="event" id="{{ .File.ContentBaseName }}">
        <a href="{{ .RelPermalink }}" class="title">{{ .Title }}</a>
        {{ partial "meta/date" . }}
        {{ .Scratch.Set "show_address" false }}{{ partial "meta/location" . }}
        <div class="artists">{{ partial "list/artists" . }}</div>
    </li>
    {{ end }}
</ol>

<script src="{{ (resources.Get "/script/artists-list.js").RelPermalink }}" async></script>

<script>
const list = document.querySelector("ol.data-list.program");
const now = new Date();
let date, lastUpcomingIndex, i;
now.setDate(now.getDate()-1);
for(i = 0; i < list.children.length; i++) {
    date = new Date(list.children[i].querySelector("time").attributes.datetime.value);
    if(date.getTime() <= now.getTime()){
        lastUpcomingIndex= i;
        break;
    }
}
if(lastUpcomingIndex > 0) {
    for(i = 0; i < lastUpcomingIndex; i++) {
        let e = list.children[i];
        list.removeChild(e);
        list.prepend(e);
        e.classList.add('upcoming');
    }
}
</script>

