{{ $records := .Scratch.Get "records" }}
{{ $show_artists := .Scratch.Get "show_artists" | default true }}
<ol class="data-list records">
    {{ range $records }}
    <li>
        <!-- <div class="meta">
            <i class="ic-album"></i>
        </div> -->
        <a href="{{ .RelPermalink }}" class="title">{{- .Title -}}</a>
        {{ if .Params.image }}
            {{ with .Resources.GetMatch .Params.image }}
            <img src="{{ .RelPermalink }}">
            {{ end }}
        {{ end }}
        {{ .Scratch.Set "date_format" "2006" }}
        {{ .Scratch.Set "show_icon" false }}
        {{ partial "meta/date" . }}
        {{ partial "meta/record" . }}
        {{ partial "meta/label" . }}
        <div class="artists">{{ partial "list/artists" . }}</div>
    </li>
    {{ end }}
</ol>
