{{ $records := .Scratch.Get "records" }}
{{ $show_artists := .Scratch.Get "show_artists" | default true }}
<ol class="data-list records">
    {{ range $records }}
    <li>
        <!-- <div class="meta">
            <i class="ic-album"></i>
        </div> -->
        <a href="{{ .RelPermalink }}" class="title">{{- .Title -}}</a>
        {{ partial "meta/date" . }}
        {{ partial "meta/format" . }}
        {{ partial "meta/label" . }}
        <div class="artists">{{ partial "list/artists" . }}</div>
    </li>
    {{ end }}
</ol>
