{{ define "main" }}
{{ $mailman := .Site.Params.mailman }}
<article class="content">
	<section>
		<div class="content">{{- .Content -}}</div>
	</section>
	<section>
		<h3>Subscribe</h3>
		<form method="POST" action="{{ $mailman }}/alternativesubscribe/velak-announce">
			<fieldset>
				<legend>Subscribe</legend>
				<div>
					<label for="sub-email"><span>Email</span></label>
					<input type="email" id="sub-email" name="email" placeholder="Email …" autocomplete="username" required>
				</div>
				<div>
					<label for="fullname"><span>Name</span></label>
					<input type="text" id="fullname" name="fullname" minlength="3" autocomplete="name"
						placeholder="Name …" required>
				</div>
			</fieldset>
			<fieldset>
				<legend>Password</legend>
				<div>
					<label for="pw"><span>Password</span></label>
					<input type="password" id="pw" name="pw" minlength="5" autocomplete="new-password"
						placeholder="Password …" required>
				</div>
				<div>
					<label for="pw-conf"><span>Confirm</span></label>
					<input type="password" id="pw-conf" name="pw-conf" minlength="5" autocomplete="new-password"
						placeholder="Confirm …" required>
				</div>
			</fieldset>
			<input name="language" type="hidden" value="en">
			<input type="submit" name="email-button" value="subscribe">
		</form>
	</section>
</article>
{{ end }}
