<!DOCTYPE html>

<html lang="{{$.Site.LanguageCode}}">
    <head>

        {{ $root := .Site.BaseURL }}
        {{ $url := urls.Parse $root }}

        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width,minimum-scale=1">
        <meta name="title" content="{{- .Site.Title -}}">
        <meta name="description" content="{{ with .Params.description }}{{- . -}}{{ else }}{{- .Site.Params.description -}}{{ end }}">
        {{ with .Site.Params.publisher }}<meta name="publisher" content="{{- . -}}">{{ end }}
        {{ with .Site.Params.theme_color }}<meta name="theme-color" content="{{- . -}}">{{ end }}

        {{ $keywords := .Site.Params.keywords }}
        {{ with .Params.keywords }}{{ $keywords = union $keywords . }}{{ end }}
        <meta name="keywords" content="{{ delimit $keywords "," }}">

        {{ template "_internal/opengraph.html" . }}
        {{ template "_internal/twitter_cards.html" . }}
        {{ template "_internal/schema.html" . }}
        
        <title>{{block "title" .}}{{.Site.Title}}{{end}}{{with .Page.Title}} - {{.}}{{end}}</title>

        <link rel="stylesheet" href="{{ $root }}/style.css">
        <!--<link rel="alternate" href="feed" type="application/atom+xml" title="{{ .Site.Title }}"/>-->
        <link rel="manifest" href="{{ $root }}/manifest.json">
        {{ partial "site/favicons" . }}

        {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
        {{ end -}}

        {{ block "schema" . }}{{ end }}

	</head>
	<body>
        <header>{{ block "header" . }}{{- partial "site/header.html" . -}}{{ end }}</header>
        <nav>{{ block "nav" . }}{{- partial "site/nav.html" . -}}{{ end }}</nav>
		<main>{{ block "main" . }}{{- partial "site/main.html" . -}}{{ end }}</main>
		<footer>{{ block "footer" . }}{{- partial "site/footer.html" . -}}{{ end }}</footer>
    </body>
</html>

