$name: "Inter" !default;
$path: "font" !default;

@font-face {
	font-family: $name;
	font-style: normal;
	font-weight: 100;
	font-display: block;
	src: url("#{$path}/Inter-Thin.woff2") format("woff2");
}

@font-face {
	font-family: $name;
	font-style: italic;
	font-weight: 100;
	font-display: block;
	src: url("#{$path}/Inter-ThinItalic.woff2") format("woff2");
}

@font-face {
	font-family: $name;
	font-style: normal;
	font-weight: 200;
	font-display: block;
	src: url("#{$path}/Inter-ExtraLight.woff2") format("woff2");
}

@font-face {
	font-family: $name;
	font-style: italic;
	font-weight: 200;
	font-display: block;
	src: url("#{$path}/Inter-ExtraLightItalic.woff2") format("woff2");
}

@font-face {
	font-family: $name;
	font-style: normal;
	font-weight: 300;
	font-display: block;
	src: url("#{$path}/Inter-Light.woff2") format("woff2");
}

@font-face {
	font-family: $name;
	font-style: italic;
	font-weight: 300;
	font-display: block;
	src: url("#{$path}/Inter-LightItalic.woff2") format("woff2");
}

@font-face {
	font-family: $name;
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url("#{$path}/Inter-Regular.woff2") format("woff2");
}

@font-face {
	font-family: $name;
	font-style: italic;
	font-weight: 400;
	font-display: block;
	src: url("#{$path}/Inter-Italic.woff2") format("woff2");
}

@font-face {
	font-family: $name;
	font-style: normal;
	font-weight: 500;
	font-display: block;
	src: url("#{$path}/Inter-Medium.woff2") format("woff2");
}

@font-face {
	font-family: $name;
	font-style: italic;
	font-weight: 500;
	font-display: block;
	src: url("#{$path}/Inter-MediumItalic.woff2") format("woff2");
}

@font-face {
	font-family: $name;
	font-style: normal;
	font-weight: 600;
	font-display: block;
	src: url("#{$path}/Inter-SemiBold.woff2") format("woff2");
}

@font-face {
	font-family: $name;
	font-style: italic;
	font-weight: 600;
	font-display: block;
	src: url("#{$path}/Inter-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: $name;
	font-style: normal;
	font-weight: 700;
	font-display: block;
	src: url("#{$path}/Inter-Bold.woff2") format("woff2");
}

@font-face {
	font-family: $name;
	font-style: italic;
	font-weight: 700;
	font-display: block;
	src: url("#{$path}/Inter-BoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: $name;
	font-style: normal;
	font-weight: 800;
	font-display: block;
	src: url("#{$path}/Inter-ExtraBold.woff2") format("woff2");
}

@font-face {
	font-family: $name;
	font-style: italic;
	font-weight: 800;
	font-display: block;
	src: url("#{$path}/Inter-ExtraBoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: $name;
	font-style: normal;
	font-weight: 900;
	font-display: block;
	src: url("#{$path}/Inter-Black.woff2") format("woff2");
}

@font-face {
	font-family: $name;
	font-style: italic;
	font-weight: 900;
	font-display: block;
	src: url("#{$path}/Inter-BlackItalic.woff2") format("woff2");
}
