<ul class="artists">
    {{ with .Params.artists }}
    {{ range . }}
    <li>
        {{ $id := replace . " " "-" }}
        {{ $path := print "/artists/" $id }}
        {{ $page := $.Site.GetPage $path }}
        <a href="{{ $page.RelPermalink }}">{{ . }}</a>


<!--
        {{ $collab := split . "+" }}
        {{ if eq (len $collab) 1 }}
            {{ $artist := index $collab 0 }}
            {{ $id := replace $artist " " "-" }}
            {{ $path := print "/artists/" $id }}
            {{ $page := $.Site.GetPage $path }}
            {{ with $page }}
                <a href="{{ .RelPermalink }}">{{ $artist }}</a>
            {{ else }}
                <a href="{{ $path }}">{{ $artist }}</a>
            {{ end }}
        {{ else }}
            <ul class="collab">
                {{ range $collab }}
                {{ $artist := trim . " " }} 
                {{ $id := replace $artist " " "-" }}
                {{ $path := (print "/artists/" $id) }}
                {{ $page := $.Site.GetPage $path }}
                <li>
                {{ with $page }}
                    <a href="{{ $page.RelPermalink}}">{{ $artist }}</a>
                {{ else }}
                    {{ warnf "MISSING ARTIST PAGE: %s" $id }}
                    <a href="{{ $path }}" class="warning">{{ $artist }}</a>
                {{ end }}
                </li>
                {{ end }}
            </ul>
        {{ end }} -->
    </li>
    {{ end }}
    {{ end }}
    
    {{ with .Params.collabs }}
    <li>
        <ul class="collab">
        {{ range . }}
            {{ split . "+" }}
        {{ end }}
        </ul>
    </li>
    {{ end }}
    <li>
</ul>
