{{ $show_address := .Scratch.Get "address" | default true }}
{{ $show_url := .Scratch.Get "show_url" | default false }}
<div class="location">
    <i class="ic-location_on"></i>
    {{ with .Params.location }}
        {{ with $loc := index $.Site.Data.locations . }}
            {{ with .url }}
                {{ if $show_url }}
                <a href="{{ . }}" rel="external">
                    <!--<i class="ic-link"></i>-->
                    <span>{{- $loc.name -}}</span>
                    <span>{{ . }}</span>
                </a>
                {{ else }}
                <a href="{{ . }}" rel="external">
                    <!--<i class="ic-link"></i>-->
                    <span>{{- $loc.name -}}</span>
                </a>
                {{ end }}
            {{ else }}
                <span>{{- $loc.name -}}</span>
            {{ end }}
            {{ if $show_address }}
                {{ with .address }}
                    <address>{{- . | safeHTML -}}</address>
                {{ end }}
            {{ end }}
        {{ else }}
        <span>{{ . | markdownify }}</span>
        {{ end }}
    {{ end }}
</div>
