<script src="{{ (resources.Get "/script/program-list.js").Permalink }}" async></script>
<ol class="events" reversed>
    {{ range .RegularPagesRecursive.ByDate.Reverse }}
    <li>
        <a href="{{ .RelPermalink }}" class="title" id="{{ .File.ContentBaseName }}">{{ .Title }}</a>

        <time class="date">{{ .Date.Format "2006/01/02" }}</time>

        {{ .Scratch.Set "show_address" false }}
        {{ partial "location" . }}

        <div class="artists">{{ partial "artists" . }}</div>
    </li>
    {{ end }}
</ol>
