{{ define "main" }}
<article data-page="{{ .File.ContentBaseName }}" class="program content">
    {{ partial "list/program" . }}
    <!-- <i class="ic-rss_feed" style="font-size:400%;"></i> -->
    <!--
    <a
        href="{{ .Site.BaseURL }}/program/index.xml"
        rel="alernate"
        aria-label="RSS"
        title="RSS"
    >
        <i class="ic-rss_feed" aria-hidden="true"></i>
        <span class="nodisplay">RSS</span>
    </a>
    -->
    <script src="{{ (resources.Get "/script/artists-list.js").RelPermalink }}" async></script>
</article>
{{ end }}

