{{ define "header" }}

<a href="{{ .Site.BaseURL }}">VELAK</a>
<span>-</span>
<span>{{ .Site.Params.description }}</span>
<h1>
    <a href="{{ .Site.BaseURL }}">Program</a>
</h1>
{{ end }}
{{ define "main" }}
<article>
    {{ $paginator := .Paginate .Pages }}
    <ol reversed class="nolist">
		{{ range $paginator.Pages.ByDate.Reverse }}
        <li>
                <a href="{{ .RelPermalink }}">
                    <span>{{ .Date.Format "2006/01/02" }}</span>
                    <span>{{- .Title -}}</span>
                </a>
            <div>
                <!--<time>{{ .Date.Format "2006-01-02" }}</time>-->
                <!--{{ partial "tags" . }}-->
                <!--<div>{{ .Params.location.name }}</div>-->
                <!--<div>{{ .Params.location.adress }}</div>-->
                <!--<div>{{ .Params.location.link }}</div>-->
            </div>
        </li>
		{{ end }}
	</ol>
</article>
{{ end }}
