{{ define "schema" }}{{ partial "schema/event" . }}{{ end }}

{{ define "main" }}
<article data-page="{{ .File.ContentBaseName }}" class="event content">

    <h1 class="title">{{- .Title -}}</h1>

    <div class="details">
        {{ partial "meta/date" . }}
        {{ .Scratch.Set "show_address" true }}
        {{ partial "meta/location" . }}
        {{ partial "meta/tags" .Params.tags }}
    </div>

    <div class="artists">{{ partial "list/artists" . }}</div>

    {{ with .Content }}<div class="content">{{- . -}}</div>{{ end }}

    <div class="audiofiles">
        <ol>
            {{ range .Resources.ByType "audio" }}
            <li>
                <i class="ic-audiotrack"></i>
                <a href="{{.RelPermalink}}">{{- .Name | safeHTML -}}</a>
            </li>
            {{ end }}
        </ol>
    </div>

    {{ partial "gallery" . }}

    <!-- <nav class="meta">{{ partial "nav_prev_next" . }}</nav> -->

</article>
{{ end }}

{{ define "footer-center" }}
<nav class="meta">{{ partial "nav_prev_next" . }}</nav>
{{ end }}

