{{ define "schema" }}
{{ partial "schema/event" . }}
{{ end }}

{{ define "main" }}
{{ $id := .File.ContentBaseName }}
<article data-page="{{ .File.ContentBaseName }}" class="event content">
    
    <h1 class="title">{{- .Title -}}</h1>
    
    <div class="meta">
        {{ partial "datetime" . }}
        {{ .Scratch.Set "address" true }}
        {{ partial "location" . }}
        {{ partial "tags" . }}
    </div>
    
    <div class="artists">
    {{ partial "artists" . }}
    </div>

    {{ with .Content }}
    <div class="content">{{- . -}}</div>
    {{ end }}

    <div class="audiofiles">
        <ol>
            {{ range .Resources.ByType "audio" }}
            <li>
                <i class="ic-audiotrack"></i>
                <a href="{{.RelPermalink}}">{{- .Name | safeHTML -}}</a>
            </li>
            {{ end }}
        </ol>
    </div>

    {{ partial "gallery" . }}

    <!--<nav class="meta">{{ partial "nav_prev_next" . }}</nav>-->

</article>
{{ end }}

{{ define "footer-right" }}
<!--<nav class="meta">{{ partial "nav_prev_next" . }}</nav>-->
{{ end }}

{{ define "footer-content" }}
<!--<i class="ic-arrow_upward" onclick="window.scrollTo(0,0)"></i>-->
{{ end }}

