{{ define "prerender" }}
<link rel="prerender" href="{{ .Site.BaseURL }}/program/">{{ end }}
{{ define "schema" }}{{ partial "schema/organization" . }}{{ end }}
{{ define "main" }}
<article class="home">

	{{ with .Site.GetPage "/program" }}
	{{ $events_upcoming := slice }}
	{{ range .RegularPages }}
		{{ if .Date.After now }}
		{{ $events_upcoming = $events_upcoming | append . }}
		{{ end }}
	{{ end }}
	<ol class="data-list program" reversed>
	{{ range $events_upcoming }}
		{{ .Render "li" }}
	{{ end }}
	</ol>
	<script src="{{ (resources.Get "script/artists-list.js").RelPermalink }}" async></script>
	{{ end }}

	<div class="audioplayer" data-url="23jahre.klingt.org-teamvelak.mp3">
		<div class="meta status">23jahre.klingt.org-teamvelak.mp3 - click to play</div>
		<canvas class="spectrum"></canvas>
		<script src="{{ (resources.Get "script/audioplayer.js").RelPermalink }}" async></script>
	</div>

	{{/* {{ with .Site.GetPage "/livestream" }}{{ .Render "widget" }}{{ end }} */}}

</article>
{{ end }}
