{{ define "prerender" }}
<link rel="prerender" href="{{ .Site.BaseURL }}/program/">
{{ end }}

{{ define "main" }}
    <!-- {{ partial "svg/fq" . }} -->
     <svg class="generator__canvas" viewBox="0 0 100 100" with="100%" heigh="100%">
        <rect x="0" y="0" width="100%" height="100%" fill="var(--background)"></rect>
<script type="module">
    import {SVG} from "https://cdn.skypack.dev/@svgdotjs/svg.js";
    import SimplexNoise from "https://cdn.skypack.dev/simplex-noise@2.4.0";
    import {map} from "https://cdn.skypack.dev/@georgedoescode/generative-utils";
    import debounce from "https://cdn.skypack.dev/debounce@1.2.1";
    import copy from "https://cdn.skypack.dev/copy-to-clipboard@3.3.1";

    const simplex = new SimplexNoise();

    const width = 100;
    const height = 100;

    let res = 2;

    let cols = width / res;
    let rows = height / res;

    const svg = SVG(".generator__canvas");

    let mode = "LINES";
    let color = "#aaa";
    let noiseInc = 0.05;

    function generate() {
        svg.clear();
        let xOff = Math.random() * 1000;
        for (let i = 0; i < cols; i++) {
            let yOff = 0;

            xOff += noiseInc;
            for (let j = 0; j < rows; j++) {
                const noise = simplex.noise2D(xOff, yOff);
                const scale = map(noise, -1, 1, 0.125, 0.75);
                const rotate = map(noise, -1, 1, 0, 360);
                if (mode === "LINES") {
                    svg
                        .line(i * res, j * res, i * res + res, j * res + res)
                        .scale(0.15)
                        .stroke({
                            color: color,
                            width: 1,
                            linecap: "square"
                        })
                        .rotate(rotate);
                } else {
                    svg
                        .circle(res)
                        .x(i * res)
                        .y(j * res)
                        .fill(color)
                        .scale(scale);
                }

                yOff += noiseInc;
            }
        }
    }
    generate();
    document.querySelector("article").addEventListener("click", () => {
        generate();
    });
</script>
    </svg>
    <!--
    <ol class="data-list program" reversed>
    {{ range where .Site.Pages "Section" "program"}}
        {{ if (time .Date).After now }}
        <li>{{ .Title }}</li>
        {{ end }}
    {{ end }}
    </ol>
    -->
<script>
    /*
    const svg = document.getElementsByTagNameNS(
        "http://www.w3.org/2000/svg",
        "svg"
    )[0];
    const turb = document.getElementById("turbulence");
    let a, b;
    function randomize() {
        a = 0.005 + Math.random() * 0.04;
        //b = 0.004 +Math.random() * 0.005;
        b = 0.004 + Math.random() * 0.005;
        turb.setAttribute("baseFrequency", a + " " + b);
        //turb.setAttribute("numOctaves",1+Math.round(Math.random()*2));
        //console.log(a,b);
        // HACK force chrome redraw
        // root.remove();
        // document.querySelector("main").append(root);
    }
    // let b = 0.008;
    let va = 0.000001 + Math.random() * 0.000005;
    let vb = 0.000001 + Math.random() * 0.000005;
    // // let vb = 0.00001;
    function onFrame() {
        window.requestAnimationFrame(onFrame);
        // if(va>0) {
        //     if(a>0.01) va = -0.00001;
        // } else {
        //     if(a<0.00001) va = 0.00001;
        // }
        // a += va;
        // a += 0.00001;
        if (vb > 0) {
            if (b > 0.007) vb = -0.000001;
        } else {
            if (b < 0.001) vb = 0.000001;
        }
        b += vb;
        // b += 0.00001;
        turb.setAttribute("baseFrequency", a + " " + b);
        //turb.setAttribute("numOctaves",octaves);
    }
    window.requestAnimationFrame(onFrame);
    //document.querySelector("svg").onclick = randomize;
    //window.setInterval(randomize, 2000);
    randomize();
    */
</script>
{{ end }}
