@font-face {
	font-family: "Icons";
	font-display: block;
	font-style: normal;
	src:
		url("font/icons.woff2") format("woff2"),
		url("font/icons.woff") format("woff"),
		url("font/icons.ttf") format("truetype");
}

[class^="ic-"],
[class*=" ic-"] {
	font-family: 'Icons' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

$icons: (
	cd: "\e90a",
	compact: "\e90a",
	disk: "\e90a",
	save: "\e90a",
	store: "\e90a",
	social-github: "\e909",
	git-pull-request: "\e904",
	git-merge: "\e905",
	git-commit: "\e906",
	git-branch: "\e907",
	error: "\e965",
	warning: "\e900",
	album: "\e969",
	closed_caption: "\e96b",
	equalizer: "\e901",
	fast_forward: "\e96d",
	fast_rewind: "\e96e",
	loop: "\e972",
	movie: "\e976",
	library_music: "\e979",
	pause: "\e97c",
	play_arrow: "\e97f",
	queue_music: "\e983",
	repeat: "\e986",
	repeat_one: "\e987",
	replay: "\e988",
	shuffle: "\e989",
	skip_next: "\e98a",
	skip_previous: "\e98b",
	stop: "\e98d",
	surround_sound: "\e98f",
	videocam: "\e991",
	videocam_off: "\e992",
	volume_down: "\e993",
	volume_mute: "\e994",
	volume_off: "\e995",
	volume_up: "\e996",
	fiber_new: "\e9a3",
	fiber_manual_record: "\e9a6",
	music_video: "\e9a8",
	email: "\e9c5",
	location_off: "\e9c9",
	location_on: "\e9ca",
	rss_feed: "\e9e3",
	alternate_email: "\e908",
	lightbulb: "\e9eb",
	add: "\e90b",
	backspace: "\e90d",
	flag: "\e910",
	forward: "\e911",
	link: "\e9f7",
	link_off: "\ea0c",
	access_time: "\ea19",
	insert_invitation: "\ea72",
	file_download: "\e91b",
	file_upload: "\e91c",
	folder: "\e91d",
	keyboard_arrow_down: "\e91e",
	keyboard_arrow_left: "\e91f",
	keyboard_arrow_right: "\e920",
	keyboard_arrow_up: "\e921",
	speaker: "\eaaa",
	headset_off: "\eab6",
	adjust: "\eab7",
	audiotrack: "\eab9",
	brightness_1: "\e928",
	grain: "\e92e",
	remove_red_eye: "\e935",
	texture: "\e936",
	local_cafe: "\e939",
	person_pin_circle: "\eb61",
	zoom_out_map: "\eb62",
	apps: "\eb74",
	arrow_back: "\eb75",
	arrow_drop_down: "\eb76",
	arrow_drop_up: "\eb78",
	arrow_forward: "\eb79",
	expand_less: "\eb7b",
	expand_more: "\eb7c",
	fullscreen: "\eb7d",
	fullscreen_exit: "\eb7e",
	arrow_upward: "\e941",
	subdirectory_arrow_left: "\e942",
	subdirectory_arrow_right: "\e943",
	arrow_downward: "\e944",
	arrow_left: "\e947",
	arrow_right: "\e948",
	arrow_back_ios: "\eb82",
	arrow_forward_ios: "\eb83",
	disc_full: "\eb84",
	person: "\ebc5",
	share: "\ebcb",
	favorite: "\ebfd",
	label: "\ec0b",
	language: "\ec0d",
	today: "\ec46",
	copyright: "\ec69",
	compare_arrows: "\ec71",
	date_range: "\ec72",
	watch_later: "\e95e",
	calendar_today: "\ec8c",
	label_important: "\ec8e",
	arrow_right_alt: "\ec98",
	all_inbox: "\ecd3",
	panorama_photosphere_select: "\ecf5",
	tag: "\ed0b",
	bolt: "\ed18",
	euro: "\ed22",
	sync_alt: "\ed25",
	double_arrow: "\ed50",
	bedtime: "\e961",
	ios_share: "\ede3",
	military_tech: "\edf4",
	science: "\ee38",
	signal_cellular_0_bar: "\ee40",
	stop_circle: "\ee4e",
	wine_bar: "\ee69",
	coronavirus: "\e964",
	bandcamp: "\e90c",
	git-square: "\e902",
	git: "\e903"
);

@each $name, $code in $icons {
	.ic-#{$name}::before {
		content: $code;
	}
}
