@use 'breakpoint';
@use 'typography';

// Program/Records data list base style

@keyframes scroll_artists {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-100%);
	}
}

ol.data-list,
ul.data-list {
	width: 100%;
	overflow-x: hidden;
	text-rendering: optimizeSpeed;
	a {
		text-decoration: none;
	}
	>li {
		display: flex;
		//align-items: center;
		width: 100%;
		white-space: nowrap;

		>.meta {
			display: flex;
		}

		>.title {
			order: 2;
			white-space: nowrap;
			font-weight: 600;
			text-transform: lowercase;
			//box-shadow: 1rem 0 2rem rgba(0,0,0,1);
		}

		>.date {
			order: 1;
		}

		>.artists {
			// display: flex;
			// flex-wrap: wrap;
			width: 100%;
			color: var(--f_low);
			min-height: 100%;
			overflow-x: hidden;

			/*
            &::before, &::after {
                content: "";
                position: absolute;
                height: 1.5em;
                width: 2rem;
                z-index: 1000;
            }
            &::before {
                background: linear-gradient(90deg, rgba(9,9,9,0.8), rgba(9,9,9,0.0));
                width: 1rem;
            }
            &::after {
                background: linear-gradient(-90deg, rgba(9,9,9,0.8), rgba(9,9,9,0.0));
                width: 2vw; //rem;
                right: 7vw;
            }
            */
			&.scroll-animation {
				>ul.artists {
					animation: scroll_artists 50s infinite;
				}
			}

			>ul.artists {
				display: inline-flex;
				margin: 0;
				padding: 0;
				white-space: nowrap;
				text-transform: lowercase;
				user-select: none;

				>li {
					margin: 0 0.125ch;

					&::after {
						content: ',';
						margin-right: 0.25ch;
					}
				}
			}
		}
	}

	@media print {
		>li .artists {
			display: none;
		}
	}

	//// --- Program ----------------------------------------------------------
	&.program {
		>li.event {
			>.title {
				position: relative;
				margin: 0 0.5ch;
				color: var(--f_high);
				box-shadow: 0.5rem 0 1rem var(--background);
				z-index: 1000;
			}

			// >.date {
			// 	color: var(--f_high);
			// }

			>.artists {
				order: 3;
				color: var(--f_low);
				// box-shadow: 0.5rem 0 1rem var(--background);

				a {
					color: var(--f_low);

					&:hover {
						color: var(--f_high);
					}
				}
			}

			>.location {
				position: relative;
				order: 4;
				box-shadow: -0.5rem 0 1rem var(--background);

				@media screen and (max-width: breakpoint.$tablet) {
					display: none;
				}

				//>[data-id] {
				//display: none;
				//transform: translateX(100%);
				//transition: width 1s;
				//width: 0px;
				//background: red;
				//}

				&:hover {
					>[data-id] {
						// display: block;
						//transform: translateX(0);
						//width: unset;
						//display: block;
					}
				}

				//opacity: 0;
				//&::after {
				//background: linear-gradient(-90deg, rgba(255,9,9,0.8), rgba(9,9,9,0.0));
				// width: 2rem;
				//}
			}

			&.upcoming {
				font-size: 1.5em;
				margin: 0 0 0.25rem 0;
				// filter: invert(100%);
				//> .title {
				// font-size: 150%;
				//}
			}
		}
	}

	//// --- Records ----------------------------------------------------------
	&.records {

		//justify-content: space-around;
		>li {

			//> .format {
			//order: 1;
			//}
			>img {
				display: none;
				order: 2;
				max-height: 2rem;
				height: 100%;
				// border: 1px solid var(--f_low);
				filter: brightness(26%) contrast(90%) grayscale(100%) invert(5%);
				transition: filter 0.2s;

				&:hover {
					filter: none;
				}
			}

			>.title {
				order: 3;
			}

			>.format {
				margin: 0 0.5ch;
				order: 2;
			}

			>.date {
				order: 1;
				//order: 100;
			}

			>.artists {
				order: 3;
			}

			>.label {
				order: 4;
				display: flex;
				background: red;

				//width: 100%;
			}
		}
	}
}

ul.artists {
	text-transform: lowercase;

	&,
	ul,
	li {
		list-style: none;
		margin: 0;
	}

	>li {
		display: flex;

		>span.group {
			margin-right: 0.5ch;
		}

		>ul.collab {
			display: flex;

			>li {
				display: flex;
				white-space: nowrap;

				&:not(:last-child) {
					&::after {
						content: "+";
						margin: 0 0.5ch;
					}
				}
			}
		}
	}
}
