main>article {
	width: 100%;
	height: 100%;
	gap: 2rem;
	text-transform: lowercase;

	&.content {
		display: flex;
		flex-direction: column;
		text-transform: lowercase;
		width: 100%;
		padding-bottom: 8rem;

		>.title {
			position: relative;
			//left: -2px; // HACK
			line-height: 1.2em;
			font-weight: 500;
		}

		>.details {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			column-gap: 1em;
			//align-items: baseline;
		}
	}

	&.event {
		>.artists {
			font-size: 1.5rem;
		}
	}
}
