@use 'typography';

// Program/Records data list base style

@keyframes scroll_artists {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.data-list {
    @media print {
       > li {
           > .artists {
               display: none;
           }
       } 
    }
    width: 100%;
    overflow-x: hidden;
    > li {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        //height: 2rem;
        // overflow-x: hidden;
        white-space: nowrap;
        border-bottom: 1px solid var(--background);
        //> *:not(.artists) {
            // z-index: 10000;
        //}
        > .meta {
            display: flex;
            align-items: center;
            gap: 0.5ch;
            padding: 0.5ch 1ch;
            height: 100%;
            @include typography.meta(98%);
            text-transform: uppercase;
            background: var(--b_med);
            color: var(--f_low);
            user-select: none;
        }
        > .title {
            order: 2;
            padding: 0 0.75ch;
            //font-size: 1.25rem;
            font-weight: 600;
            text-transform: uppercase;
            white-space: nowrap;
            background: var(--background);
            // box-shadow: 10px 0 20px rgba(9,9,9,0.8);
            user-select: none;
        }
        > .date {
            order: 1;
            user-select: none;
        }
        > .artists {
            display: flex;
            width: 100%;
            // height: 100%;
            color: var(--f_low);
            // background: var(--b_med);
            // min-height: 100%;
            overflow-x: hidden;
            &::before, &::after {
                content: "";
                position: absolute;
                height: 1.5em;
                width: 2rem; //rem;
                z-index: 1000;
            }
            &::before {
                background: linear-gradient(90deg, rgba(9,9,9,0.8), rgba(9,9,9,0.0));
                // width: 2rem;
            }
            // &::after {
            //     background: linear-gradient(-90deg, rgba(255,9,9,0.8), rgba(9,9,9,0.0));
            //     width: 5vw; //rem;
            //     right: 0;
            // }
            > ul.artists {
                display: inline-flex;
                white-space: nowrap;
                text-transform: lowercase;
                // background: var(--background);
                user-select: none;
                > li {
                    margin: 0 0.125ch;
                    &::after {
                        content: ',';
                        margin-right: 0.5ch;
                    }
                }
            }
            &.scroll-animation {
                > ul.artists {
                    //animation: scroll_artists 50s infinite;
                    animation: scroll_artists 50s infinite;
                }
            }
        }
    }
}

ul.artists {
    text-transform: lowercase;
    &, ul, li { 
        list-style: none;
    }
    > li {
        display: flex;
        // margin-bottom: 1em;
        // line-height: 1em;
        > span.group {
           margin-right: 0.5ch; 
        }
        > ul.collab {
            display: flex;
            //flex-wrap: wrap;
            > li {
                display: flex;
                white-space: nowrap;
                &:not(:last-child) {
                    &::after {
                        content: "+";
                        margin: 0 0.5ch;
                    }
                }
            }
        }
    }
}

article {
    padding: 1rem 0 2rem 0;
    gap: 2rem;
    &.content {
        display: flex;
        flex-direction: column;
        > .title {
            order: 1;
            padding: 0.5em 0 1em 0;
            position: relative;
            left: -2px; // HACK
            font-weight: 500;
            text-transform: unset;
        }
        > .details {
            order: 2;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 1rem;
            column-gap: 1em;
            align-items: baseline;
        }
        > .artists {
            order: 3;
            font-size: 1.5rem;
        }
        //> .content {
            // order: 4;
        //}
        > .gallery {
            order: 1000;
        }
        > nav {
            order: 10000;
        }
    }
}

//// --- Program ---------------------------------------------------------------

ol.data-list.program {
    > li.event {
        > .artists {
            order: 3;
        }
        > .location {
            order: 4;
            //opacity: 0;
            //&::after {
                //background: linear-gradient(-90deg, rgba(255,9,9,0.8), rgba(9,9,9,0.0));
                // width: 2rem;
            //}
        }
        &.upcoming {
            //filter: invert(100%);
            font-size: 200%;
            //margin: 0.5rem 0;
            //> .title {
                // font-size: 150%;
            //}
        }
    }
}

article.event {
    > .details {
        order: 1;
        align-items: baseline;
        //padding: 1rem 0;
        > * {
            display: flex;
            // i {
            //     // margin-right: 0.25ch;
            // }
            // &:not(:last-child) {
            //     //margin-right: 1ch;
            // }
        }
        // .date {
        //     //display: inline-flex;
        //     //flex-wrap: wrap;
        //     //flex-direction: row;
        // }
        // .location {
        //     //display: inline-flex;
        // }
    }
    > .title {
        order: 2;
    }
    // > .artists {
    //     order: 3;
    // }
    > .content {
        order: 4;
    }
    > *.audiofiles {
        order: 5;
    }
    > .gallery {
        order: 6;
    }
    nav.prev_next {
        justify-self: flex-end;
    }
}


//// --- Artists ----------------------------------------------------------------

main[data-section="artists"] {
    // list
    &[data-kind="section"] {
        > article {
            > ul.artists {
                // columns: 4;
                // display: flex;
                // flex-direction: column;
                // flex-wrap: wrap;
                // column-count: auto;
                column-width: 200px;
                font-size: 1.25rem;
            }
        }
    }
    // single
    &[data-kind="page"] {
        > article.artist {
            > .title {
                order: 1;
            }
            > .details {
                order: 2;
            }
            > .content {
                order: 3;
            }
            > .program {
                order: 4;
            }
            > .records {
                order: 5;
            }
            > .gallery {
                order: 6;
            }
            nav.prev_next {
                justify-self: flex-end;
            }
        }
    }
}

//// --- Records ---------------------------------------------------------------

ol.data-list.records {
    justify-content: space-around;
    > li {
        //> .format {
            //order: 1; 
        //}
        > img {
            order: 1;
            max-height: 2rem;
            height: 100%;
            // border: 1px solid var(--f_low);
            filter: brightness(26%) contrast(90%) grayscale(100%) invert(5%);
            transition: filter 0.2s;
            &:hover {
                filter: none;
            }
        }
        > .title {
            order: 3;
        }
        //> .format {
            //order: 2;
        //}
        > .date {
            order: 100;
        }
        > .artists {
            order: 3;
        }
        > .label {
            order: 4;
            //width: 100%;
        }
    }
}

main[data-section="records"] {
    &[data-kind="section"] { // list
        > article {
            > .artists {
                order: 3;
            }
            // > img {
            //     width: 1rem;
            // }
            > nav {
                order: 10000;
            }
            // ol.records {
                // display: flex;
                // flex-wrap: wrap;
            //     gap: 1rem;
            //     column-gap: 2rem;
            //     list-style: none;
            //     > li {
            //
            //         img {
            //             max-width: 140px;
            //         }
            //     }
            // }
        }
    }
    &[data-kind="page"] { // single
        > article {
            > .title {
                order: 1;
            }
            > .details {
                order: 2;
            }
            > .artists {
                order: 3;
            }
            > .content {
                order: 4;
            }
            > .gallery {
                order: 5;
            }
        } 
    }
}

//// --- Stream ----------------------------------------------------------------

article.stream {
    display: grid;
    place-items: center;
    padding: 4rem;
    canvas.spectrum {
        //position: absolute;
         //z-index: 100;
        background: var(--f_low);
        border-radius: 100%;
        &.hidden {
            cursor: default;
            pointer-events: none;
            display: none;
        }
    }
}
