@use 'typography';

main > article {
    width: 100%;
    //padding: 1rem 0 4rem 0;
    gap: 2rem;
    &.content {
        display: flex;
        flex-direction: column;
        > .title {
            order: 1;
            //padding: 0.5em 0;
            position: relative;
            //left: -2px; // HACK
            font-weight: 500;
        }
        > .details {
            order: 2;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 1em;
            //align-items: baseline;
        }
        > .artists {
            order: 3;
            font-size: 1.5rem;
        }
        //> .content {
            // order: 4;
        //}
        > .gallery {
            order: 1000;
        }
        > nav {
            order: 10000;
        }
    }
}

//// --- Program ---------------------------------------------------------------

article.event {
    > .details {
        order: 1;
        align-items: baseline;
        //padding: 1rem 0;
        > * {
            display: flex;
            // i {
            //     // margin-right: 0.25ch;
            // }
            // &:not(:last-child) {
            //     //margin-right: 1ch;
            // }
        }
        // .date {
        //     //display: inline-flex;
        //     //flex-wrap: wrap;
        //     //flex-direction: row;
        // }
        // .location {
        //     //display: inline-flex;
        // }
    }
    > .title {
        order: 2;
    }
    // > .artists {
    //     order: 3;
    // }
    > .content {
        order: 4;
    }
    > *.audiofiles {
        order: 5;
    }
    > .gallery {
        order: 6;
    }
    nav.prev_next {
        justify-self: flex-end;
    }
}


//// --- Artists ----------------------------------------------------------------

main[data-section="artists"] {
    // list
    &[data-kind="section"] {
        > article {
            > ul.artists {
                // columns: 4;
                // display: flex;
                // flex-direction: column;
                // flex-wrap: wrap;
                // column-count: auto;
                column-width: 200px;
                font-size: 1.25rem;
            }
        }
    }
    // single
    &[data-kind="page"] {
        > article.artist {
            > .title {
                order: 1;
            }
            > .details {
                order: 2;
            }
            > .content {
                order: 3;
            }
            > .program {
                order: 4;
            }
            > .records {
                order: 5;
            }
            > .gallery {
                order: 6;
            }
            nav.prev_next {
                justify-self: flex-end;
            }
        }
    }
}

//// --- Records --------------------------------------------------------------

main[data-section="records"] {
    &[data-kind="section"] { // list
        > article {
            > .artists {
                order: 3;
            }
            /*
            > ol.records {
                > li {
                    > time {
                        //display: none;
                        order: 0;
                    }
                    > img {
                        width: 1rem;
                        max-width: 1rem;
                        max-height: 1rem;
                    }
                    // > .meta.label {
                    //     display: none;
                    // }
                    // &:hover {
                    //     > .meta.label {
                    //         display: inline-block;
                    //     }
                    // }
                }
            }
            */
        }
    }
    &[data-kind="page"] { // single
        > article {
            > .title {
                order: 1;
            }
            > .details {
                order: 2;
            }
            > .artists {
                order: 3;
            }
            > .content {
                order: 4;
            }
            > .gallery {
                order: 5;
            }
        }
    }
}
//////

.meta {
    @include typography.meta();
    cursor: default;
    //@media screen and (min-width: breakpoint.$tablet) {
        //font-size: var(--text-sm);
    //}
    //> i {
        //margin-right: 0.125em;
    //}
}

//// --- Livestream -----------------------------------------------------------

.livestream {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid var(--f_med);
    > .status {
        position: absolute;
        bottom: 1rem;
        left: 0.5rem;
        //transform: translate(-50%, -50%);
        margin: 0.5rem 0.75rem;
        writing-mode:vertical-lr;
        font-size: 70%;
    }
}

canvas.spectrum {
    width: 100%;
    height: 100%;
}

