@mixin not {
	@media print { display: none; }
}
@media print {
	*,
	*::after,
	*::before {
		box-shadow: none !important;
		text-shadow: none !important;
	}
    a[href^="http"]::after {
		content: " ("attr(href)")";
	}
}

