body > main {
    > article.program {
        //display: grid;
        //display: flex;
        //flex-wrap: wrap;
        //grid-template-columns: 1fr;
        //grid-template-rows: auto auto 1fr auto;
        //grid-gap: 1rem ;
        > header {
            margin-bottom: 1rem;
            > .title {
                margin-bottom: 1rem;
            }  
             > div.location {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 1rem;
                text-transform: lowercase;
                > * {
                    //&:not(:last-child) {
                        //margin-right: 1ch;
                    //}
                }
                > address {
                    display: inline-block;
                    font-style: normal;
                }
            }
        }
        > div.content {
            max-width: 600px;
            margin-bottom: 2rem;
        }
        > footer {
            font-family: var(--font-mono);
            font-size: 75%;
        }
        > div.page-nav {
            display: flex;
            > nav.top_prev_next {
                display: flex;
                > * {
                    margin-right: 0.5rem;
                }
                > i {
                    //position: relative;
                    //top: 1px; // HACK 
                    cursor: pointer;
                    &:hover {
                        color: var(--acc);
                    }
                }
                > nav.prev_next {
                    position: relative;
                    top: -1px; // HACK 
                    //margin-right: 0.5rem;
                }
            }
        }
    }
}

