@use 'sass:math';

$thick: 1px;

*::-webkit-scrollbar {
	border: none;

	&:horizontal {
		display: none;
	}

	&:vertical {
		width: 1px;
	}
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
	display: none !important;
}

// ::-webkit-scrollbar-track {
//     //background: var(--bg);
// }
::-webkit-scrollbar-thumb {
	//border-top: 4px solid var(--fg);
	background: var(--f_med);
	//border-left: 1px solid var(--bg);
	// &:hover {
	//     // background: var(--acc);
	// }
	// &:active {
	//     // background: var(--acc);
	// }
}
