@use 'sass:math';

$thick: 1px;
//$thick: math.div(1rem, 3) !default;
//$min-thick: 4px !default;
// $scrollbar-min-thick: 4px;
// $scrollbar-max-thick: 8px;

*::-webkit-scrollbar {
    border: none;
    &:horizontal {
        //display: none;
        height: $thick;
    }
    &:vertical {
        //width: $thick;
        width: 4px;
        //min-width: $min-thick;
    }
    }
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
    display: none !important;
}
::-webkit-scrollbar-track {
    //background: var(--bg);

}
::-webkit-scrollbar-thumb {
    border-top: 4px solid var(--fg);

    border-bottom: 4px solid var(--fg);

    //background: var(--fg);
    //height: 20px;
    //border-left: 1px solid var(--bg);
    &:hover {
        background: var(--acc);
    }
    &:active {
        background: var(--acc);
    }
}
