@use 'sass:math';

$thick: math.div(1rem, 3) !default;
$min-thick: 4px !default;
// $scrollbar-min-thick: 4px;
// $scrollbar-max-thick: 8px;

*::-webkit-scrollbar {
    border: none;
    &:horizontal {
        //display: none;
        height: $thick;
    }
    &:vertical {
        width: $thick;
        min-width: $min-thick;
    }
    }
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
    display: none !important;
}
::-webkit-scrollbar-track {
    background: var(--bg);
}
::-webkit-scrollbar-thumb {
    background: var(--fg);
    border-left: 1px solid var(--bg);
    &:hover {
        background: var(--acc);
    }
    &:active {
        background: var(--acc);
    }
}
