@use "sass:math";
@use 'breakpoint';

body {

    --content-width: 1024px;
    --grid-gap: 1rem;
   
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    column-gap: var(--grid-gap);
    row-gap: var(--grid-gap);
    //overflow-x: hidden;
    //padding: 0.5rem;
    width: 100%;
    height: 100%;
    > * {
        //position: relative
        //width: 100%;
        height: 100%;
        //background: var(--bg);
        //max-width: var(--content-width);
    }
    > header {
        display: flex;
        flex-wrap: wrap;
        //justify-content: center;
        margin: 0 2rem;
        padding: 2rem 0 0rem 0;
        //text-align: center;
        //border-bottom: 1px solid var(--fg);
        > h1 {
            width: 100%;
            //margin-left: -1rem;
            margin-bottom: 0.5rem;
        } 
        > h2 {
            font-size: var(--text-md);
        }
    }
    > nav {
        display: flex;
        //justify-content: center ;
        width: 100%;
        //align-content: center;
        margin: 0 2rem;
        padding: 1rem 0;
        //background: var(--bg);
        > ul {
            all: unset;
            list-style: none;
            //width: 100%;
            display: flex;
            //justify-content: center;
            text-transform: uppercase;
            > li {
                margin: 0;
                padding: 0;
                &:not(:first-child) {
                    margin-left: 4px; // 0.5rem;
                }
                &:not(:last-child) {
                    margin-right: 4px; // 0.5rem;
                }
                > a {
                    width: 100%;   //padding: 0.66rem 1rem;
                    height: 100%;   //padding: 0.66rem 1rem;
                    padding: 1ch;
                    border: 1px solid var(--fg);
                    text-decoration: none;
                    &:hover {
                        background: var(--fg);
                        color: var(--bg);
                    }
                }
            }
        }
    }
    > main {
        margin: 0 2rem;
    }
    > footer {
        display: flex;
        //justify-content: center;
        margin: 0 1rem;
        padding: 0 0 1rem 0;
        font-size: 75%;
        a {
            text-decoration: none;
        }
        //border-top: 1px dotted var(--fg);

        //font-family: 'RobotoMono';
        //font-size: 9px;

        /*
        width: 100%;
        padding: 0.5rem 1rem 0.5rem 1rem;
        margin: 0 auto;
        justify-content: space-between;
        font-family: monospace;
        text-transform: uppercase;
        background: var(--bg);
        > a {
            //all: unset;
            text-transform: uppercase;
        }
        */
    }

    /*@media screen and (max-width: breakpoint.$tablet) {
        grid-template-columns: 4fr;
        > header {
            //background: green;
        }
        > footer {
            margin: 0 1rem;
            border-top: 1px solid var(--fg);
        }
	}*/
    @media screen and (min-width: breakpoint.$tablet) {
        > nav {
            > ul {
                justify-content: center;
                > li {
                    //padding: 0 1rem;
                }
            }
        }
    }
    @media screen and (min-width: breakpoint.$desktop) {
    }
}

