@use "sass:math";
@use 'breakpoint';

html {
	scroll-behavior: smooth;
    word-break: keep-all;
}

body {

    --content-width: 1024px;
    --grid-gap: 1rem;
   
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    column-gap: var(--grid-gap);
    row-gap: var(--grid-gap);
    //overflow-x: hidden;
    overflow-y: scroll;
    //padding: 0.5rem;
    width: 100%;
    height: 100%;
    > * {
        //position: relative
        //width: 100%;
        height: 100%;
        //max-width: var(--content-width);
    }
    > header {
        display: flex;
        flex-wrap: wrap;
        //justify-content: center;
        margin: 0 2rem;
        padding: 2rem 0 0rem 0;
        > h1 {
            width: 100%;
            margin-bottom: 0.5rem;
            font-size: 2rem;
        } 
        > h2 {
            all: unset;
            text-transform: none; 
            font-size: var(--text-md);
        }
    }
    > nav {
        position: relative;
        width: 100%;
        > ul {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            list-style: none;
            margin: 0 2rem;
            padding: 0;
            text-transform: uppercase;
            > li {
                margin-bottom: 0.25rem;
                line-height: 3rem;
                border: 1px solid var(--fg);
                &:not(:last-child) {
                    margin-right: 0.25rem; // 0.5rem;
                }
                &:hover {
                    background: var(--fg);
                    > a {
                        color: var(--bg);
                    }
                }
                &.active {
                    background: var(--fg);
                    color: var(--bg);
                    > a {
                        color: var(--bg);
                    }
                }
                > a {
                    text-decoration: none;
                    color: var(--fg);
                    height: 100%;
                    padding: 0.25rem 1rem;
                    &:hover {
                        background: var(--fg);
                    }
                }
            }
        }
    } 
    /*
    > nav {
        position: relative;
        > ul  {
            all: unset;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin: 0 2rem;
            text-transform: uppercase;
            //position: relative;
            height: 100%;
            > li {
                //position: relative;
                height: 100%;
                padding: 0.5rem 1rem;
                border: 1px solid var(--fg);
                &:not(:first-child) {
                    //margin-left: 4px; // 0.5rem;
                }
                &:not(:last-child) {
                    //margin-right: 4px; // 0.5rem;
                    margin-right: 0.25rem; // 0.5rem;
                }
                &:hover {
                    background: var(--fg);
                    color: var(--bg);
                }
                &.active {
                    background: var(--fg);
                    color: var(--bg);
                    > a {
                        color: var(--bg);
                    }
                }
                > a {
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                }
            }
        }
    }
    */
    > main {
        margin: 0 2rem;
    }
    > footer {
        display: flex;
        //justify-content: center;
        justify-content: flex-end;
        margin: 0 1rem;
        padding: 0 0 1rem 0;
        font-size: 75%;
        a {
            text-decoration: none;
        }
        //border-top: 1px dotted var(--fg);

        //font-family: 'RobotoMono';
        //font-size: 9px;

        /*
        width: 100%;
        padding: 0.5rem 1rem 0.5rem 1rem;
        margin: 0 auto;
        justify-content: space-between;
        font-family: monospace;
        text-transform: uppercase;
        background: var(--bg);
        > a {
            //all: unset;
            text-transform: uppercase;
        }
        */
    }

    /*@media screen and (max-width: breakpoint.$tablet) {
        grid-template-columns: 4fr;
        > header {
            //background: green;
        }
        > footer {
            margin: 0 1rem;
            border-top: 1px solid var(--fg);
        }
	}*/
    @media screen and (min-width: breakpoint.$tablet) {
        > nav {
            > ul {
                //justify-content: center;
                > li {
                    //padding: 0 1rem;
                }
            }
        }
    }
    @media screen and (min-width: breakpoint.$desktop) {
    }
}

