@use 'breakpoint';
@use 'print';

html {
    scroll-behavior: smooth;
}

body {

    --site-margin: 1rem; //var(--space-md);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    //grid-gap: var(--site-margin);
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    > * {
        height: 100%;
    } 
    > header {
        display: flex;
        flex-wrap: wrap;

        margin: 0 1rem; //var(--site-margin);
        padding: 1.5rem 0 0.5rem 0;
        //padding: var(--site-margin) 0;
        //white-space: nowrap;
        //background: red;
        border-bottom: 2px solid var(--fg);

        box-shadow: 0 4px 24px rgba(16,16,16,1);
        z-index: 1000;
        > h1 {
            all: unset;
            display: inline-block;
            margin-right: 0.5ch;
            font-size: 1rem;
            font-weight: bold;
        }
        > h2 {
            all: unset;
        }
        > nav {
            ul {
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                > li {
                    //margin-right: 0.5ch;

                    &:first-child {
                        font-weight: bold;
                    }
                    &:not(:last-child)::after {
                        content: "";
                        margin: 0 2px;
                        font-weight: normal;
                        color: var(--f_med);
                    }
                    > a {
                        //padding: 4px;
                        padding: 5px 4px 8px 4px;
                        &.active {
                            padding: 5px 10px 7px 10px;
                            font-weight: 600;
                            border-radius: 1px;
                            letter-spacing: 1px;
                            background: var(--f_med);
                            color: var(--b_med);
                        }
                    }
                }
            }
        }
    }
    /*
    > nav {
        margin: 0 var(--site-margin);
        padding-bottom: 1rem;
        > ul {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin: 0;
            list-style: none;
            > li {
                margin-bottom: 0.5rem;
                padding: 0.5rem;
                border: 1px solid var(--fg);
                &:not(:last-child) {
                    margin-right: 0.5rem;
                }
                &.active {
                    background: var(--fg);
                    color: var(--bg);
                    font-weight: bold;
                    > a {
                        color: var(--bg);
                    }
                }
            }
        }
        a {
            color: inherit;
        }
    }
    */
    > main {
        position: relative;
        overflow-x: hidden;
        overflow-y: scroll;
        margin: 0 1rem; //var( --site-margin);
        > article {
            //max-width: 600px;
            height: 100%;
            //margin: 0 1rem; //var( --site-margin);
            padding: 1rem 0;
            //word-break: break-all ;
            a {
                //@include print.print-url-after-link;
            }
            //a[href^="http"]::after {
                //content: " ("attr(href)")";
            //}
            img, iframe {
                width: 100%;
                height: 100%;
                //padding-bottom: 1rem;
            }
            > section {
                padding: 2rem 0;
                //border-top: 1px solid var(--fg);
            }
            > div.content {
                max-width: 800px;
            }
        }
    }
    > footer {
        display: flex;
        //margin: 0 1rem; //var(--site-margin);
        //padding: 0 0 var(--site-margin) 0;
        //padding: 1rem 0;
        background: var(--background);
        box-shadow: 0 -4px 24px rgba(16,16,16,1);
        z-index: 1000;
        > div.meta {
            //background: red;
            width: 100%;
            height: 100%;
            margin: 0 1rem;
            padding: 1rem 0;
            border-top: 2px solid var(--fg);
        }
    }
    @media screen and (min-width: breakpoint.$tablet) {
       //--site-margin: var(--space-lg);
    }
    @media screen and (min-width: breakpoint.$desktop) {
       //--site-margin: var(--space-xxl);
    }
}

.nodisplay {
    display: none;
}

.nolist {
    list-style: none;
}

.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
}

.meta {
    font-family: var(--font-mono);
    font-size: var(--text-xs);
    @media screen and (min-width: breakpoint.$tablet) {
        font-size: var(--text-sm);
    }
}

.warning {
    color: magenta;
}
.error {
    background: red;
    color: black;
}

dl.tags {
    display: flex;
    > dd.tag {
        margin: 0;
        font-family: var(--font-mono);
        font-size: var(--text-sm);
        font-style: normal;
        text-transform: uppercase;
        &:not(:last-child) {
            &::after {
                //content: ", ";
            }
            margin-right: 0.5ch;
        }
        > a {
            text-decoration: none;
        }
    }
}

nav.prev_next {
    > a {
        text-decoration: none;
        > span {
            display: none;
        }
    }
}
