:root {

	--rgb-dark: 17, 17, 19;
	--rgb-light: 153, 153, 153;
	--color-dark: rgb(var(--rgb-dark));
	--color-light: rgb(var(--rgb-light));
	--color-accent: #ed2c3e;

	--background: #0c0c0c;
	--f_high: #9c9c9c;
	--f_med: #808080;
	--f_low: #595959;
	--f_inv: #272727;
	--b_high: #272727;
	--b_med: #181818;
	--b_low: #111111;
	--b_inv: #818181;
}

body {
	background: var(--background);
	color: var(--f_med);
	-webkit-tap-highlight-color: var(--f_med);

	@media print {
		background: white;
		color: var(--b_med);
	}
}

*::selection {
	background: var(--b_inv);
	color: var(--f_inv);
}

a {
	color: var(--f_med);

	&:hover,
	&:focus {
		color: var(--f_high);
	}
}
