:root {

    --rgb-dark: 17,17,19;
    --rgb-light: 153,153,153;

    --color-dark: rgb(var(--rgb-dark));
    --color-light: rgb(var(--rgb-light));
    --color-accent: #ed2c3e;
    
    --bg: var(--color-dark);
    --fg: var(--color-light);
    --acc: var(--color-accent);
}

body {
    background: var(--bg);
    color: var(--fg);
}
*::selection {
    background: var(--fg);
    color: var(--bg);
}
