@use 'breakpoint';

:root {

    --font-primary: "Inter";
    --font-mono: "RobotoMono";

    --text-base-size: 14px;
    --text-scale-ratio: 1.25;
    --body-font-weight: 500;
	--heading-line-height: 1;
	--heading-font-weight: 700;
	--text-unit: var(--text-base-size); // if Em units → --text-unit: 1em;
    --text-space-y-multiplier: 1;

    --text-xs: calc((var(--text-unit) / var(--text-scale-ratio)) / var(--text-scale-ratio));
    --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
    --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
    --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
    --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
    --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
    --text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));

    --space-unit:  1rem;
	--space-xxxxs: calc(0.125 * var(--space-unit));
	--space-xxxs:  calc(0.25 * var(--space-unit));
	--space-xxs:   calc(0.375 * var(--space-unit));
	--space-xs:    calc(0.5 * var(--space-unit));
	--space-sm:    calc(0.75 * var(--space-unit));
	--space-md:    calc(1.25 * var(--space-unit));
	--space-lg:    calc(2 * var(--space-unit));
	--space-xl:    calc(3.25 * var(--space-unit));
	--space-xxl:   calc(5.25 * var(--space-unit));
	--space-xxxl:  calc(8.5 * var(--space-unit));
	--space-xxxxl: calc(13.75 * var(--space-unit));

    @media screen and (min-width: breakpoint.$tablet) {
       --text-base-size: 14px; 
    }
    @media screen and (min-width: breakpoint.$desktop) {
       --text-base-size: 16px; 
    }
}

html {
    font-size: var(--text-base-size);
    font-family: var(--font-primary);
    font-weight: var(--body-font-weight, normal);
    font-optical-sizing: auto;
    line-height: var(--line-height);
	letter-spacing: normal;
	text-rendering: optimizelegibility;
}

a {
    color: var(--fg);
    outline: none;
    &:hover, &:focus {
        //background: var(--acc);
        color: var(--acc);
    }
}

address {
    display: inline-block;
}

blockquote {
    padding-left: 1em;
    font-style: italic;
    border-left: 0.25rem solid var(--fg);
}

button {
    //display: flex;
    //width:  ;
    padding: 0.5rem;
    background: var(--fg);
    color: var(--bg);
    cursor: pointer;
    &.disabled {
		cursor: default;
	}
}

code, pre {
    font-family: var(--font-mono);
}

dl {
    > dt {
        font-weight: 200;
        font-style: italic;
    }
    > dd {
        margin-left: 1.5rem;
    }
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--heading-font-weight);
    line-height: var(--heading-line-height);
    letter-spacing: -0.05em;
    text-transform: uppercase;
    word-break: break-word;
}
h1 {
    font-size: var(--text-xxxxl);
}
h2 {
    font-size: var(--text-xxxl);
}
h3 {
    font-size: var(--text-xxl);
}
h4 {
    font-size: var(--text-xl);
}
h5 {
    font-size: var(--text-lg);
    text-transform: uppercase;
}
h6 {
    font-size: var(--text-md);
    text-transform: uppercase;
}

hr {
    height: 1px;
    margin: 1rem 0;
    background: var(--fg);
}

p, ol, ul {
	margin-bottom: calc(var(--space-unit) * 0.9375 * var(--text-space-y-multiplier,1));
}

input, select {
    outline: none;
    margin: 0 0 0.5rem 0;
    padding: 0.75rem 1rem;
    background: var(--bg);
    color: var(--fg);
    border: 1px solid var(--fg);
    transition: background 0.2s;
    &:focus {
        background: var(--fg);
        color: var(--bg);
    }
    &:invalid {
        //border: 1px dashed red;
        //border: 1px dashed var(--fg);
    }
    &:invalid:required {
        //background-image: linear-gradient(to right, pink, lightgreen);
    }
    &:valid {
        border: 1px solid var(--fg);
    }
    &[type="submit"] {
        text-transform: lowercase;
        cursor: pointer;
        &:hover {
            background: var(--fg);
            color: var(--bg);
        }
    }
    &[type="checkbox"] {
        appearance: none;
        width: 1rem;
        height: 1rem;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin: 0 1rem 0 0;
        background-clip: content-box;
        padding: 1px;
        /*
        position: relative;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: middle;
        display: grid;
        place-content: center;
        appearance: none;
               //float: left;
        width:4px;
        height: 10px;
        margin: 0;
        //padding: 1em;
        background-clip: content-box;
        //border: none;
        background: var(--bg);
        &::before {
            content: "";
            width: 0.65em;
			height: 0.65em;
			transform: scale(0);
			//transition: 120ms transform ease-in-out;
			// box-shadow: inset 1em 1em var(--form-control-color);
		    background: var(--fg);
        }
        &:checked::before {
			transform: scale(1);
		}
        */
    }
}

label {
    background: var(--fg);
    color: var(--bg);
}

ol, ul {
    list-style-position: inside;
    ol, ul {
        padding-left: 1em;
        margin-bottom: 0;
    }
}
ol {
    list-style-type: decimal;
}
ul {
    list-style-type: disc;
}

strong {
	font-weight: bold;
}

sub, sup {
    font-size: 50%;
}


table {
    &, td, th {
        border: 1px solid var(--fg);
        border-collapse: collapse;
    }
    th, td {
        //padding: 2px 4px;
        padding: 0.25rem;
        white-space: nowrap;
    }
    th {
        //text-transform: uppercase;
        text-align: left;
    }
    &.raw {
        th {
            font-weight: bold;
            text-transform: uppercase;
            background: var(--fg);
            color: var(--bg);
            border: 1px solid var(--bg);
        }
        font-family: var(--font-mono);
        
    }
}

div.footnotes {
    font-size: 75%;
    ol {
        > li {
            p {
                display: inline;
                margin: 0;
            }
        }
    }
}
