{{ define "main" }}
<article>
    <!--<header>-->
        <!--{{ with .Title }}<h2>{{- . -}}</h2>{{ end }}-->
    <!--</header>-->
	{{ with .Content }}
    <div class="content">{{- . | safeHTML -}}</div>
    {{ end }}
	<ul>
        {{ range .Pages }}
        <li>
            {{ $id := .File.ContentBaseName }}
            <a href="{{ .Permalink }}">{{- .Title | safeHTML -}}</a>
            <img src="{{ $id }}/velak-{{ replace $id "-" "_" }}.jpg">
        </li>
        {{ end }}
	</ul>
</article>
{{ end }}

